@font-face {
    font-family: "ITCAvantGardeStd-Bk";
    src: url("../fonts/ITCAvantGardeStd-Bk.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/ITCAvantGardeStd-Bk.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/ITCAvantGardeStd-Bk.otf") format("opentype"), /* Open Type Font */
    url("../fonts/ITCAvantGardeStd-Bk.svg") format("svg"), /* Legacy iOS */
    url("../fonts/ITCAvantGardeStd-Bk.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/ITCAvantGardeStd-Bk.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ITCAvantGardeStd-Bk.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg';
    src: url("../fonts/lg.eot?n1z373");
    src: url("../fonts/lg.eot?#iefixn1z373") format("embedded-opentype"), url("../fonts/lg.woff?n1z373") format("woff"), url("../fonts/lg.ttf?n1z373") format("truetype"), url("../fonts/lg.svg?n1z373#lg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ITCAvantGardeStd-Demi";
    src: url("../fonts/ITCAvantGardeStd-Demi.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/ITCAvantGardeStd-Demi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/ITCAvantGardeStd-Demi.otf") format("opentype"), /* Open Type Font */
    url("../fonts/ITCAvantGardeStd-Demi.svg") format("svg"), /* Legacy iOS */
    url("../fonts/ITCAvantGardeStd-Demi.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/ITCAvantGardeStd-Demi.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ITCAvantGardeStd-Demi.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ITCAvantGardeStd-Md";
    src: url("../fonts/ITCAvantGardeStd-Md.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/ITCAvantGardeStd-Md.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/ITCAvantGardeStd-Md.otf") format("opentype"), /* Open Type Font */
    url("../fonts/ITCAvantGardeStd-Md.svg") format("svg"), /* Legacy iOS */
    url("../fonts/ITCAvantGardeStd-Md.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/ITCAvantGardeStd-Md.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ITCAvantGardeStd-Md.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ITCAvantGardeStd-Bold";
    src: url("../fonts/ITCAvantGardeStd-Bold.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/ITCAvantGardeStd-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/ITCAvantGardeStd-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/ITCAvantGardeStd-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/ITCAvantGardeStd-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/ITCAvantGardeStd-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ITCAvantGardeStd-Bold.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
.errShow,
header {
    position: absolute
}
.caLLac p,
.ram {
    font-family: ITCAvantGardeStd-Bold
}
.blucnt a,
.buNDlofr h2,
.buNDlofr h3,
.ram {
    text-transform: uppercase
}
.buNDlofr li,
.sec5 li {
    list-style: url(../images/list.png)
}
.bNForM p,
.blbg h1,
.button1,
.cpatON,
.sec4 {
    text-align: center
}
.errHide {
    display: none
}
.blbg,
.captioncvr,
.cpatON a,
.cpatON li,
.cpatON ul a,
.sec5 {
    display: inline-block
}
.errShow {
    color: red!important;
    bottom: 28px;
    right: 33px;
    font-size: 14px;
    width: 163px;
    padding: 10px 5px;
    background: #fff
}
::-webkit-input-placeholder {
    color: #fff
}
::-moz-placeholder {
    color: #fff
}
:-ms-input-placeholder {
    color: #fff
}
:-moz-placeholder {
    45 color: #fff
}
.wid {
    width: 1200px;
    margin: 0 auto
}
.leftfl {
    float: left
}
.rgtfl {
    float: right
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
header {
    border-top: 7px solid #0055a6;
    z-index: 1;
    width: 100%
}
.bNForM,
.bundlimg {
    position: relative
}
.logo_land {
    float: left;
    margin-top: 24px
}
.caLLac {
    float: right
}
.caLLac p {
    font-size: 22px;
    color: #fff;
    padding: 57px 15px;    text-shadow: 1px 0px 2px #000;
}
.caLLac a {
    color: #fff;
    font-size: 21px
}
.caLLac a:hover {
    color: #a5d21f
}
.logoRgt {
    width: 875px;
    height: 205px
}
.captioncvr {
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
    padding: 7px 0
}
.banner .wid {
    margin-top: 150px
}
.banner {
    width: 100%;
    background: url(../images/tuv_banner.png) top no-repeat;
    clear: both;
    float: left;
    padding-bottom: 20px
}
.cpatON {
    width: 800px;
    float: left;
    position: relative;
}
.ram {
    font-size: 55.45px;
    color: #fff
}
.cpatON span {
    font-size: 25px;
    color: #fff;
    font-family: ITCAvantGardeStd-Bk, sans-serif;
    font-weight: 500
}
.bNForM input[type=submit],
.bNForM p,
.cpatON a,
.cpatON ul a {
    font-family: ITCAvantGardeStd-Bold
}
.cpatON ul {
    margin-top: 34px;
    padding: 0
}
.cpatON li {
    padding-left: 4px
}
.cpatON ul a {
    background: #a5d21f;
    font-size: 18px;
    color: #fff;
    border-radius: 4px;
    margin: 0;
    width: 205px;
    padding: 16px 0
}
.CapMin {
    margin-top: 10px;
    padding-left: 136px
}
.for_off > img {
    width: 200px;
}
.for_off {
    left: 108px;
    position: absolute;
    top: 32px;
    transform: rotate(-36deg);
}
.cpatON ul a:hover {
    background: #073866;
    color: #fff
}
.cpatON a {
    font-size: 22px;
    color: #fff;
    padding: 9px 30px;
    background: #1e459f;
    margin-top: 9px;
    border-radius: 4px;
    margin-left: 4px
}
.cpatON a:hover {
    text-decoration: none;
    background: #053767;
    color: #fff
}
.bNForM {
    width: 400px;
    float: left
}
.bNForM p {
    font-size: 30px;
    color: #fff;
    margin-bottom: 21px
}
.bNForM form {
    width: 356px;
    margin: 0 auto;
    padding: 22px 33px;
    float: right;
    background: rgba(0, 85, 165, .72)
}
.bNForM input[type=text],
.bNForM input[type=tel],
.bNForM input[type=email],
.bNForM textarea {
    background: 0 0;
    border-radius: 0;
    border: 2px solid #fff;
    margin-bottom: 12px;
    opacity: 1;
    padding: 10px;
    font-size: 14px;
    font-family: ITCAvantGardeStd-Bold;
    color: #fff;
    width: 100%
}
.bNForM input[type=submit] {
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
    border: none;
    padding: 10px 20px;
    background: #fff
}
.blbg h1,
.buNDlofr p {
    font-family: ITCAvantGardeStd-Bk, sans-serif
}
.bNForM input[type=submit]:hover {
    background: #a5d21e;
    color: #fff
}
.bNForM textarea {
    height:91px
}
.bNForM input {
    color: #fff;
    opacity: 1
}
.blbg {
    background: #1e459f;
    padding: 0;
    margin: 0;
    clear: both;
    width: 100%
}
.blbg h1 {
    font-size: 33px;
    color: #fff;
    margin: 0;
    padding: 18px 10px
}
.bundlimg {
    height: 490px;
    width: 518px;
    margin-top: 6px;margin-left: 20px;
    background: url(../images/bundleoffer.png) top no-repeat
}
.buNDlofr span {
    font-size: 20px;
    color: #000
}
.buNDlofr h2 {
    font-size: 33px;
    font-weight: 700;
    line-height: 39px;
    color: #1e459f;
    margin-top: 14px;
    margin-bottom: 40px
}
.buNDlofr p {
    line-height: 34px;
    font-weight: 400;
    font-size: 16px
}
.buNDlofr h3 {
    margin-top: 37px;
    font-family: ITCAvantGardeStd-Bold;
    font-size: 25px;
    color: #000;
    margin-bottom: 16px
}
.buNDlofr ul {
    padding-left: 14px;
    margin-top: 7px
}
.buNDlofr li {
    line-height: 33px;
    padding-left: 7px;
    font-family: ITCAvantGardeStd-Bk, sans-serif;
    font-size: 16px;
    font-weight: 400
}
.blucnt p,
.blucnt span,
.ofrHed {
    font-family: ITCAvantGardeStd-Bold;
    color: #fff
}
.sec1 {
    padding: 24px 0
}
.bundlimg2 {
    background: url(../images/bundleoffer2.png) top no-repeat !important;
}
.bundlimg3 {
    background: url(../images/bundleoffer3.png) top no-repeat !important;
}
.ofrHed {
    font-size: 33px;
    padding: 10px
}
.blucnt {
    width: 100%;
    background: #1e459f;
    position: absolute;
    bottom: 0;
    padding: 13px
}
.blucnt p {
    font-size: 18px
}
.blucnt span {
    font-size: 30px
}
.blucnt a {
    font-size: 14px;
    float: right;
    background: #a5d21f;
    color: #fff;
    padding: 10px 16px;
    font-family: ITCAvantGardeStd-Bk, sans-serif;
    border-radius: 4px
}
.sec4 a,
.sec4 h4,
.sec5 h4 {
    font-family: ITCAvantGardeStd-Bold;
    text-transform: uppercase
}
.blucnt a:hover {
    color: #fff;
    text-decoration: none;
    background: #033360
}
.sec2 .bundlimg.leftfl {
    margin-right: 50px
}
.sec2 {
    background: #f0f0f0;
    padding: 44px 0
}
.sec3 {
    padding: 27px 0
}
.sec4 {
    background: url(../images/booksec.png) no-repeat;
    height: 344px;
    padding: 92px 0;
    background-size: 100%
}
.sec4 h4 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 61px
}
.sec4 a {
    font-size: 22px;
    background: #a5d21e;
    color: #fff!important;
    padding: 14px 25px;
    text-decoration: none!important
}
.blubg,
.sec4 a:hover {
    background: #1e459f
}
.Senhlf li {
    margin-bottom: 19px
}
.sec5 {
    padding: 68px 0 8px;
    width: 100%
}
.sec5 h4 {
    font-size: 30px;
    color: #fff
}
.sec5 ul {
    padding: 30px 60px 41px;
    margin-bottom: 0
}
.sec5 li {
    line-height: 29px;
    padding-left: 7px;
    font-family: ITCAvantGardeStd-Bk, sans-serif;
    font-weight: 400
}
.blubg,
.grbg {
    padding: 9px 30px
}
.firsthlf {
    width: 585px;
    float: left;
    margin-right: 15px
}
.grbg {
    background: #a5d21e
}
.minhed {
    font-size: 33px;
    color: #1e459f;
    text-transform: uppercase;
    font-family: ITCAvantGardeStd-Bold;
    margin-bottom: 40px
}
.revwForm1 li,
.shreUs {
    margin-bottom: 10px
}
.Senhlf {
    width: 574px;
    float: left;
    margin-left: 15px
}
.wholcnt {
    background: #f0f0f0
}
.listng.twoCol>li {
    float: left;
    width: 46%
}
.contRgt .wpcf7-not-valid-tip {
    height: 25px;
    top: 10px;
    line-height: 21px;
    font-size: 13px
}
.sharedv {
    clear: both;
    padding-top: 20px
}
.MobPhn {
    display: none
}
.dskTph>span {
    display: inline-block;
    float: left;
    height: 62px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0 0 6px;
    width: 52px
}
.dskTph {
    margin-top: 34px
}
.button1 {
    background: #ff7903;
    border-radius: 6px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 700;
    height: 48px;
    padding: 10px 0 0;
    text-transform: uppercase;
    width: 181px
}
input.button1[type=submit] {
    border: none;
    padding: 0
}
.button1:hover,
.innerHeader a:hover {
    background: #ffd103;
    color: #BC5800
}
.shreUs {
    float: left
}
.addthis_sharing_toolbox {
    float: left;
    margin-top: 17px;
    margin-left: 12px
}
.bkmrk {
    float: left;
    margin-top: 19px
}
.sharedv::after {
    clear: both;
    content: "";
    display: block
}
.capchImag {
    float: left;
    width: 28%
}
.capchImag img {
    width: 100%;
    margin: 0!important
}
.captchaFild {
    float: right;
    width: 70%
}
.wpcf7-mail-sent-ok,
div.wpcf7-validation-errors {
    display: none!important
}
.wpcf7-form-control-wrap {
    display: block;
    position: relative
}
.wpcf7-not-valid-tip {
    background: #fff;
    height: 42px;
    left: 13px;
    line-height: 41px;
    position: absolute;
    top: 1px
}
.contactpg li,
.enqFrm li,
.revwForm li {
    text-align: center;
    position: relative
}
.formHide {
    height: 1px;
    overflow: hidden;
    display: none
}
.enqFrm ul {
    float: left;
    width: 730px;
    padding-left: 172px;
    padding-top: 43px
}
.enqFrm li {
    margin-bottom: 17px
}
.contactpg input[type=submit],
.enqFrm input[type=submit],
.revwForm input[type=submit] {
    background: url(images/submit-button.png) no-repeat;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    height: 72px;
    text-transform: uppercase;
    width: 200px;
    border: none
}
.contactpg input[type=submit]:hover,
.enqFrm input[type=submit]:hover,
.revwForm input[type=submit]:hover {
    color: #053E7F
}
.ajax-loader {
    margin: 0!important;
    position: absolute;
    right: 0;
    top: 10px
}
.contactpg li,
.listng,
.revwForm li,
.sitmpee {
    margin-bottom: 20px
}
.revwForm {
    padding-bottom: 60px
}
.revwForm li {
    float: left;
    width: 100%
}
.maparea iframe {
    width: 100%!important
}
.maparea {
    float: right;
    width: 46%
}
.contactpg {
    float: left;
    width: 48%
}
.bgLght {
    float: left;
    background: rgba(0, 0, 0, .55);
    height: 630px;
    width: 84%
}
.listng {
    padding-left: 20px
}
.listng li {
    background: url(images/arrow-icon.png) 0 8px no-repeat rgba(0, 0, 0, 0);
    padding-left: 27px;
    font-size: 16px;
    padding-bottom: 16px
}
.sitmpee .sub-menu {
    background: rgba(0, 0, 0, 0);
    display: block;
    margin-left: 20px;
    position: static;
    width: 88%!important
}
.sitmpee a,
.sitmpee a:hover {
    background: url(images/arrow-icon.png) 0 5px no-repeat rgba(0, 0, 0, 0)
}
.sitmpee a {
    padding-left: 30px;
    color: #666
}
.sitmpee a:hover {
    color: #EB8F00!important
}
.sitmpee .sub-menu li a {
    background-attachment: scroll!important;
    background-clip: border-box!important;
    background-color: rgba(0, 0, 0, 0)!important;
    background-image: url(images/arrow-icon.png)!important;
    background-origin: padding-box!important;
    background-position: 0 8px;
    background-repeat: no-repeat!important;
    background-size: auto auto!important;
    border-bottom: 0 none!important;
    padding-left: 23px!important;
    color: #666!important;
    font-size: inherit!important;
    line-height: inherit!important
}
.sitmpee .sub-menu li a:hover {
    background: url(images/arrow-icon.png) 0 8px no-repeat rgba(0, 0, 0, 0)!important;
    color: #EB8F00!important
}
.infoBX {
    position: relative;
    display: inline-block
}
.infoBX:hover .infoBox {
    display: block
}
.infoBX>a {
    font-size: 11px!important;
    line-height: 18px!important;
    margin-left: 0;
    padding: 0!important
}
.infoBox {
    background: #FF7903;
    border: 2px solid #fff;
    border-radius: 3px;
    bottom: 14px;
    display: none;
    height: 249px;
    padding: 10px;
    position: absolute;
    width: 425px
}
.infoaddress div {
    color: #fff
}
.infoBox span {
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 100%
}
.infoBox div p,
.infoBox div p span {
    color: #fff;
    display: inline-block;
    font-size: 15px!important;
    font-weight: 400!important;
    line-height: 16px;
    text-transform: none
}
.infoaddress div::after,
.infoaddress::after {
    clear: both;
    content: "";
    display: block
}
.infoBox div p {
    display: block;
    float: left;
    margin-bottom: 0;
    text-align: left;
    width: 100%
}
.infoBox a:hover {
    color: #2E375F!important
}
.infomail span {
    color: inherit!important;
    display: block!important;
    float: right;
    text-align: left;
    width: 75%!important
}
.infomail a {
    color: inherit!important;
    line-height: inherit
}
.infomail b {
    color: inherit;
    display: block;
    font-size: inherit;
    line-height: inherit
}
.infomail {
    clear: both;
    display: block;
    float: left;
    margin-top: 10px;
    width: 100%
}
.infomail>p {
    display: block!important;
    text-align: center
}
.infoBox a {
    float: none!important;
    padding: 0!important;
    background: rgba(0, 0, 0, 0)!important;
    font-size: inherit!important;
    text-transform: none!important;
    color: #fff!important;
    line-height: inherit!important
}
.blog-post {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px
}
.blog-title {
    font-size: 21px;
    margin-bottom: 6px
}
.postd {
    color: #e2181f;
    font-size: 11px;
    padding: 5px 0 1px
}
.blog-post a {
    color: #fff;
    display: inline-block;
    padding: 4px 13px;
    text-decoration: none;
    background: #ff7903
}
.blog-post a:hover {
    color: #AD1D24;
    background: #FFD103
}
.blogarea {
    box-sizing: border-box;
    color: #fff;
    padding: 20px
}
.blogarea .innSrv li {
    list-style: none;
    margin: 0;
    padding: 0 0 10px 26px;
    background: url(bulletArrow.png) 0 3px no-repeat
}
.blogarea .innSrv li a {
    color: #fff;
    text-decoration: none
}
.inRghtCapn {
    font-size: 25px
}
.cont_Rgt li a {
    display: block;
    padding-left: 25px;
    background: url(images/arrow-icon.png) 0 6px no-repeat;
    color: #666
}
.cont_Rgt li a:hover {
    color: #FF7E02
}
.at-share-tbx-element a:hover,
.bkmrkbtn:hover {
    opacity: .5
}
.bkmrkbtn a {
    background: url(images/star.png) no-repeat
}
img.ofrimgs {
    margin-top: 8px;
}
.wholcnt.no{background:#fff;}

footer .ftrabt {
    width: 26%;
    margin-right: 72px;
}
footer .ftrabt p {
    font-size: 14px;
    color: #fff;
    margin-top: 34px;
    line-height: 25px;
}
footer .ftrlinks {
    width: 35%;
    margin-right: 40px;
}
footer .ftrlst {
    float: left;
}
footer .ftrlst .ftrhead {
    font-size: 18px;
    color: #fff;
    margin-bottom: 11px;
    font-family: ITCAvantGardeStd-Md,sans-serif;
}
footer .ftrlst li {
    font-size: 14px;
    color: #fff;
    line-height: 17px;
}
footer .ftrlst li a {
    font-size: 14px;
    display: inline-block;
    line-height: 23px;
    color: #fff;
}
footer .ftrlst li a:hover {
    color: #a5d21e;
}
.wid:after, li:after, ul:after, .social:after, div:after {
    display: block;
    content: "";
    clear: both;
}
footer .ftradrs {
    width: 27%;
    margin-right: 35px;
}
footer .ftrlst .addrs {
    font-size: 14px;
    color: #fff;
    line-height: 21px;
}
footer .ftrcnt {
    width: 24%;float: right;
}

footer .copryts {
    font-size: 14px;
    text-align: center;
    margin-top: 14px;
    padding-top: 5px;
    color: #fff;
    border-top: 1px solid #fff;
    font-family: ITCAvantGardeStd-Md,sans-serif;
}
footer {
    padding: 18px 0 5px;
    background: #1e459f;
}


@media only screen and (min-width: 376px) and (max-width: 640px) {
    .banner .wid {
        margin-top: 146px!important
    }
    .errShow {
        bottom: 8px!important;
        right: 256px!important;
        font-size: 14px!important
    }
    .leftfl,
    .rgtfl {
        float: none!important
    }
    .bundlimg {
        width: 100%!important;
        margin: 0 auto!important
    }
    .bNForM input[type=text],
    .bNForM input[type=tel],
    .bNForM input[type=email],
    .bNForM textarea {
        padding: 6px 10px!important;
        font-size: 11px!important
    }
    .bNForM {
        margin-top: 11px!important
    }
    .bNForM input[type=submit] {
        font-size: 15px!important;
        padding: 6px 15px!important
    }
    .bNForM textarea {
        height: 86px!important
    }
    .bNForM form {
        background: rgba(0, 85, 165, .72)!important;
        padding: 10px 16px!important
    }
    .bNForM p {
        margin-bottom: 3px!important
    }
}
@media (max-width: 1250px) {
    .bNForM form {
        float: inherit
    }
    .CapMin {
        padding-left: 0
    }
}
@media only screen and (max-width: 1230px) {
	
.wid {
    width: 1128px;
    margin: 0 auto;
}	
.Senhlf {
    width: 517px;
}
.firsthlf {
    width: 572px;
}
.bNForM {
    width: 358px;
}
.cpatON {
    width: 765px;
}
.for_off {
    left: 33px;
}

}
@media only screen and (max-width: 1184px) {
	
.for_off {
    left: -28px;
    transform: rotate(-59deg);
}	
.firsthlf img.ofrimgs {
    float: right;
}
.firsthlf {
    width: 536px;    overflow: hidden;
}
.Senhlf {
    width: 491px;
}
.sec4 {
    background-size: cover;
}


}

@media only screen and (max-width: 1175px) {
    .cpatON ul a {
        width: auto;
        padding: 16px 10px
    }
    .bNForM {
        width: 40%
    }
    .cpatON {
        width: 60%
    }
    .wid {
        padding: 0 15px;
        width: 100%
    }
}

@media only screen and (max-width: 1090px) {
footer .ftrlinks {
        width: 25%;
    }
    footer .ftradrs {
        width: 24%;
    }
    footer .ftrcnt {
        width: 24%;
        float: left;
    }	
	
}


@media only screen and (max-width: 1024px) {
    .errShow {
        right: 74px
    }
    .Senhlf li {
        margin-bottom: 8px
    }
    .Senhlf {
        width: 48%;
        float: left;
        margin-left: 0
    }
    .firsthlf {
        width: 50%
    }
    .sec4 {
        height: 262px;
        padding: 50px 0;
    }
    .sec5 {
        padding: 27px 0 8px
    }
    .buNDlofr h3 {
        margin-top: 22px
    }
}
@media (max-width: 995px) {
footer .ftrabt {
    margin-right: 50px;
}	
}
@media (max-width: 990px) {
    .cpatON ul a {
        padding: 16px 6px;
        font-size: 15px
    }
    .bNForM input[type=submit] {
        font-size: 17px
    }
    .bNForM form {
        padding: 22px 16px;
        width: 270px
    }
    .bNForM p {
        font-size: 22px
    }
    .bNForM {
        float: right
    }
    .cpatON span {
        font-size: 21px
    }
    .ram {
        font-size: 40px
    }
	.for_off {
  left: -17px;
}

}
@media (max-width: 768px) {
    .sec2,
    .sec4 {
        display: inline-block
    }
    .buNDlofr,
    .rgtfl {
        float: left
    }
    .errShow {
        bottom: 22px;
        right: 23px;
        font-size: 13px;
        width: 119px;
        padding: 5px
    }
    .Senhlf,
    .buNDlofr,
    .firsthlf,
    .sec2,
    .sec4 {
        width: 100%
    }
    .sec5 {
        padding: 26px 0
    }
    .buNDlofr h2 {
        margin-top: 44px;
        margin-bottom: 20px
    }
    .buNDlofr h3 {
        margin-top: 20px;
        margin-bottom: 20px
    }
    .sec2 {
        background: #f0f0f0;
        padding: 44px 0
    }
    .Senhlf {
        margin: 0
    }
    .minhed {
        font-size: 27px;
        margin-bottom: 8px;
        margin-top: 22px
    }
    .sec4 a {
        font-size: 17px
    }
    .sec4 h4 {
        font-size: 30px;
        margin-bottom: 32px
    }
    .sec4 {
        padding: 48px 0;
        height: auto
    }
    .cpatON ul a {
        font-size: 13px
    }
	.for_off {
  left: -13px;
  top: 25px;
}
.for_off > img {
  width: 120px;
}
}
@media (max-width: 767px) {
	
	footer .ftrabt {
    margin: 0;
    width: 100%;
    margin: 0 0 40px;
}

footer .ftrlinks {
    width: 100%;
    margin: 0 0 40px;
}
footer .ftradrs {
    width: 100%;
    margin: 0 0 40px;
}

footer .ftrcnt {
    width: 100%;
}


	.for_off {
  left: 0;
  position: absolute;
  top: -13px;
  transform: rotate(0deg);
}
    .bNForM,
    .bundlimg,
    .cpatON {
        width: 100%
    }
    .CapMin {
        margin-top: 12px
    }
    #errMsg .errShow {
        bottom: 33px;
        right: 8px!important
    }
    .errShow {
        bottom: 25px;
        right: 3px
    }
    .bNForM form {
        width: 100%;
        background: #1e459f
    }
    .cpatON li {
        padding-left: 16px
    }
    .logo_land {
        float: inherit;
        margin-top: 6px;
        text-align: center;
        margin-bottom: 13px
    }
    .minhed,
    .sec4 h4 {
        margin-bottom: 10px
    }
    .minhed {
        font-size: 22px
    }
    .sec5 {
        padding: 6px 0 8px
    }
    .sec4 a {
        padding: 5px 18px;
        font-size: 16px
    }
    .sec4 h4 {
        font-size: 20px
    }
    .sec4 {
        padding: 0 0 26px
    }
    .buNDlofr h3 {
        margin-top: 22px;
        font-size: 20px
    }
    .buNDlofr p {
        line-height: 28px;
        font-size: 14px
    }
    .buNDlofr h2 {
        font-size: 25px;
        margin-bottom: 7px
    }
    .bNForM {
        margin-top: 23px
    }
    .cpatON a {
        font-size: 19px;
        padding: 4px 18px;
        margin-top: 0
    }
    .banner .wid {
        margin-top: 74px
    }
    .cpatON ul a {
        font-size: 13px;
        padding: 10px 14px;
        margin-bottom: 16px
    }
    .cpatON ul {
        padding: 0
    }
    .ram {
        font-size: 30px
    }
    .cpatON span {
        font-size: 17px
    }
    .caLLac {
        float: none;
        text-align: center;
        display: block
    }
    .caLLac a,
    .caLLac p {
        padding: 0;
        font-size: 18px;
        text-align: center
    }
    .blbg h1 {
        font-size: 25px
    }
    .blucnt a {
        font-size: 13px
    }
    .blucnt span {
        font-size: 16px;
        padding: 6px 0;
        display: inline-block
    }
    .blucnt p {
        font-size: 14px
    }
    .ofrHed,
    .sec5 h4 {
        font-size: 20px
    }
    .sec5 ul {
        padding: 14px 32px
    }
    .blubg,
    .grbg {
        padding: 2px 15px
    }
}
@media (max-width: 400px) {
    .bNForM {
        width: 100%
    }
    .bNForM form {
        width: 100%;
        margin-top: 239px
    }
    .banner .wid {
        margin-top: 200px
    }
}