@font-face{font-family:'NexaBold';src:url('http://www.tuvnordtrainings.com/assets/fonts/NexaBold.eot');src:url('http://www.tuvnordtrainings.com/assets/fonts/NexaBold.eot') format('embedded-opentype'),



url('http://www.tuvnordtrainings.com/assets/fonts/NexaBold.woff2') format('woff2'),



url('http://www.tuvnordtrainings.com/assets/fonts/NexaBold.woff') format('woff'),



url('http://www.tuvnordtrainings.com/assets/fonts/NexaBold.ttf') format('truetype'),



url('http://www.tuvnordtrainings.com/assets/fonts/NexaBold.svg#NexaBold') format('svg');}



@font-face{font-family:'NexaLight';src:url('http://www.tuvnordtrainings.com/assets/fonts/NexaLight.eot');src:url('http://www.tuvnordtrainings.com/assets/fonts/NexaLight.eot') format('embedded-opentype'),



url('http://www.tuvnordtrainings.com/assets/fonts/NexaLight.woff2') format('woff2'),



url('http://www.tuvnordtrainings.com/assets/fonts/NexaLight.woff') format('woff'),



url('http://www.tuvnordtrainings.com/assets/fonts/NexaLight.ttf') format('truetype'),



url('http://www.tuvnordtrainings.com/assets/fonts/NexaLight.svg#NexaLight') format('svg');}



h1{font-size:48px;font-family:'NexaBold';}



h2{font-size:40px;}



h3{font-size:32px;}



h4{font-size:22px;}



h5{font-size:18px;font-family:'NexaBold';}



h6{font-size:16px;}



body{font-family:'ITCAvantGardeStd-Bk', sans-serif;font-size:16px; overflow-x:hidden}



.sub-page p{color:#000; line-height:200%; font-size:16px; font-weight:300;}



a:hover{text-decoration:none;}



header{border-top:6px solid #1e459f;}



header a{display:inline-block;}



.logo{margin:5px 0;float:left;}



a:focus, a:hover{color:#1e459f;}



.header-right{float:right;padding-top:30px;}



.select_style{background:#fff url("../img/down-arrow.png") no-repeat right 5px center;color:#222;padding:2px 2px;position:relative;background-color:#FFF;border:1px solid #1e459f;overflow:hidden;border-radius:7px;float:left}



.select_style select{background:none;border:medium none;outline:medium none;width:100%;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;padding-right:20px}



.phones{float:left;padding-left:0;margin-bottom:0;margin-top:5px;}



.phones li{list-style:none;float:left;padding-left:20px;font-size:16px;font-family:'NexaBold';line-height:24px;}



.phones li a{color:#000;}



.phones li a:hover{color:#1e459f;}



.phones li a .fa{color:#1e459f;margin-right:10px;font-size:18px;}



.phones li a:hover .fa{color:#000;}



#navbar{border-top:1px solid #bdcffa; position: relative; z-index: 9999;}

.testimonialsList img {  width: 120px !important;}

.testimonialsList img.blockquote {

  width: auto !important;

}

.dropdown-menu > li.kopie > a{padding-left:5px;}



.dropdown-submenu{position:relative;}



.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px}



.dropdown-submenu>a:after{border-color:transparent transparent transparent #333;border-style:solid;border-width:5px 0 5px 5px;content:" ";display:block;float:right;height:0;margin-right:-10px;margin-top:5px;width:0}



.dropdown-submenu:hover>a:after{border-left-color:#555;}



.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover{text-decoration:underline;}



.navbar{margin-bottom:0;}



.navbar-toggle{margin-right:0;}



.navbar-default .navbar-nav.nav > li > a{text-transform:uppercase;font-size:14px;font-family:'ITCAvantGardeStd-Bk', sans-serif;font-weight:500;color:#000;}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background-image:url(../img/menu-bg.jpg);background-position:center center;background-color:transparent;}



.navbar-default .navbar-collapse, .navbar-default .navbar-form{background-color:#fff;}



.navbar-default .navbar-toggle{background-color:#1e459f;border:0;}



.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:#035fb6;}



.navbar-default{background-color:transparent;}



.nav > li{padding-left:13px;padding-right:13px;}



/*######### new-added css#########*/

.bnr-inr-sec{ text-align:center;}

.frt-bx-inr{ width:100%; background:#fff; text-align:center;}

.frt-bx-inr img{ margin-top:16px; width:100% !important;}

.inr-sec-fnl{ background:#ecf6ff;}

.lft-fst-sec{ width:100%; background:#fff; text-align:center; margin-top:34px; padding-bottom:32px;}

.lft-fst-sec img{ margin-top:16px; margin-bottom:20px;}

.lft-fst-sec p{ font-size:22px; color:#2569a5; line-height:22px;}

.lft-fst-sec a{ font-size:15px; text-transform:uppercase; color:#fff; display:inline-block; background:#2569a5; width:225px; height:52px; padding: 15px 0px; border-radius:10px; margin-top:28px; font-weight: 600;}

.rgt-fst-sec{ width:100%; background:#fff;     margin-top: 34px;  padding:30px 20px;}

.rgt-fst-sec p{ font-size:16px; line-height:25px;}

.rgt-fst-sec ul{ margin-top:22px; padding-left: 0px;}

.rgt-fst-sec ul li{ text-decoration:none; display: block; margin-bottom:22px;}
.rgt-fst-sec ol li {display: list-item;margin-bottom: 22px;line-height: 25px;}

.rgt-fst-sec ol {
    padding-left: 20px;
    text-align: left;
}
.obj {
    font-size: 16px;
    font-weight: 600;
}

.rgt-fst-sec ul li h4{ font-size:16px; font-weight:600;}

.rgt-fst-sec ul li a{ color:#1e459f;  font-weight:600; text-decoration:underline;}

.rgt-fst-sec ul li a:hover { color: #a5d21e;}

.lft-scnd-sec{ margin-top:18px; width:100%;}

.hd-lft-sec{ background:#a5d21e; font-size:18px; color:#fff; font-weight:600; text-align:center; padding:16px;}

.lft-lst-bx{ width:100%; background:#fff; margin-top:10px;}

.lft-lst-bx ul{ padding-left:0px; margin-bottom:0px; padding:10px 0px;}

.lft-lst-bx li{ text-decoration:none; display:block; padding:0px 18px; }

.lft-lst-bx li a { color: #000; display: inline-block; border-bottom:1px solid #2569a5; width: 100%; height: 100%; padding-bottom: 8px; padding-top: 10px;}

.lft-lst-bx li:last-child a{ border-bottom:none;}

.lft-lst-bx li:hover {background: #2569a5;}

.rgt-lst-inr{ text-align:center; font-size:16px; padding-top:20px; border-top:1px solid #2569a5;}

.rgt-lst-inr a{ color:#1e459f; font-weight:600;}

.rgt-lst-inr a:hover{ color:#a5d21e;}

.rgt-lst-sec{ width:100%; margin-top:22px;}

.fsrt-inbx{ background:#a5d21e; color:#fff; font-weight:600; padding:8px 20px;}

.secnd-inbx{ background:#fff; padding:22px 20px;}

.secnd-inbx p{ margin-bottom:0px;}

.inr-sec-banner{ overflow: hidden; position: relative;}

.bnr-sec-lg { position: absolute; margin: 0px auto; top: 66px; bottom: 0px; left: 0px; right: 0px; text-align: center;}

.lft-fst-sec a:hover{ background:#a5d21e;}

.lft-lst-bx li a:hover{ color:#fff;}

.certItem a:hover {color: #1e459f;}

ul.sub-elgb li { margin-bottom: 8px ;}

a.aEdt {color: #000; border:1px solid #fff;}
a.aEdt:hover{border:1px solid #2569a5;}
a.aEdt:hover p{ color:#2569a5; }



/*######### end-new-added css#########*/





.vatMsg {

    padding: 20px;

    text-align: center;

    background: #f1f1f1;

    font-size: 14px;

    font-weight:500;

 

}



.vatMsg span {

    border: 1px solid #999;

    padding: 7px 25px;

    text-align: center;

    margin-left: 20px;

    cursor: pointer;

}

.vatMsg span:hover {

    background: #00529e;

    color: #fff;

}

li.offrBtn {

    background: #a5d21e;

    color: #fff !important;

}

li.offrBtn:hover{

    background: #0055a2;}

li.offrBtn a {

    color: #fff !important;

}



.nav > li > a{padding-left:0;padding-right:0;}



.hp-slider-wrapper{position:relative;}



.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{background-color:transparent;}



#hp-slider .item{position:relative;}



#hp-slider .item:after{content:'';position:absolute;width:100%;height:100%;left:0;top:0;background:rgba(0,85,165,0.3);}



.slider-content {



  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);



}



.slider-holder{position:absolute;left:0;right:0;z-index:9;bottom:0;top:0;max-width:1200px;height:300px;padding:0 15px;margin:auto;width:100%;text-align:center;color:#fff;}



.slider-holder h5{line-height:150%;}



.slider-holder h1{text-transform:uppercase;font-size:80px;}



.banner-search{width:100%;max-width:900px;position:absolute;left:0;right:0;bottom:10%;margin:auto;z-index:99;}



.banner-search .col-text{float:left;width:320px;padding-right:15px;}



.banner-search .col-select{float:left;width:225px;padding-right:15px;}



.banner-search .col-submit{float:left;width:130px;}



.banner-search .col-select .select-style{background:#fff url(../img/select-btn.jpg)no-repeat right 1px center;border-radius:4px;}



.banner-search .col-select .select-style select{background:none;border:1px solid #ccc;outline:medium none;width:100%;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none}



.banner-search .col-submit .btn{width:100%;background:#a5d21e;color:#fff;text-transform:uppercase;padding:10px 0;}



.banner-search .col-submit .btn:hover{background: #AEDF1B;}



.banner-search .form-control{font-size:18px;height:42px;border:1px solid #ccc;font-family:'NexaLight';color:#1e459f;}



#news .date{padding-bottom:10px;}



#news .content{line-height:200%;padding-bottom:50px;font-size:16px;}



#news .day{background:#a5d21e;float:left;padding:8px;color:#fff;}



#news .mm-yy{background:#1e459f;color:#fff;float:left;padding:8px 25px;text-transform:uppercase;}



#news .owl-nav{width:60%;float:right;margin-top:-40px;position:relative;z-index:999;}



#news .image{float:left;width:40%;padding-right:20px;}



#news .content-col{float:left;width:60%;}



.news-slider{background:#fff;padding:20px 20px 0;position:relative;}



.news-slider h2.title{margin:25px 0;}



#news.owl-theme .owl-nav [class*="owl-"]{padding:0;background:none;margin:5px 15px;}



#news.owl-theme .owl-nav [class*="owl-"]:hover{background:none;}



.banner-search .col-select .select-style select.form-control{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding-right:25px;width:100%;}



.form-control::-webkit-input-placeholder{color:#b0c0da;}



.form-control::-moz-placeholder{color:#b0c0da;}



.form-control:-ms-input-placeholder{color:#b0c0da;}



.form-control:-moz-placeholder{color:#b0c0da;}



.contact-form .form-control::-webkit-input-placeholder{color:#a2a2ae;}



.contact-form .form-control::-moz-placeholder{color:#a2a2ae;}



.contact-form .form-control:-ms-input-placeholder{color:#a2a2ae;}



.contact-form .form-control:-moz-placeholder{color:#b0c0da;}



.catNwBoxTtle {



  font-size: 23px;



  margin-bottom: 12px;



}



.catNwBox {



  margin-bottom: 20px;



}



.nwsDtlsN > img {



  float: right;



  margin-left: 20px;



}



.testimonialsList li figure {



  border: 1px solid #666;



  display: inline-block;



  width: auto;



}



.testimonialsList li figure img {width: auto;}



.rdMre {



  border: 1px solid #337ab7;



  display: inline-block;



  padding: 4px 8px;font-size:12px;



  text-transform: uppercase;



}







a.rdMre:focus, a.rdMre:hover{border: 1px solid #1e459f;}







#hp-slider .owl-dots{position:absolute;width:40px;right:10px;top:0;bottom:0;margin:auto;z-index:999;height:100px;margin-top:auto !important;}



.banner-search label{color:#fff;font-family:'NexaBold';font-weight:normal;padding-top:5px;width:100%;text-align:right;}



.cl-courses h2{text-align:center;background-color:#1e459f;text-transform:uppercase;font-size:33px;font-family:'ITCAvantGardeStd-Bk', sans-serif;font-weight:500;margin-top:0;color:#fff;padding:10px 0;}



.cl-courses p{line-height:200%;font-size:16px;}



.readmore{background:#1e459f;color:#fff;padding:8px 10px;text-transform:uppercase;border-radius:5px;margin-top:20px;margin-bottom:20px;display:inline-block;}



.readmore:hover, .readmore:focus{color:#fff; background:#026ed3;}



.readmore .fa{font-size:22px;padding-left:5px;color:#fff;opacity:0.7;}



h2.title{font-size:40px;background-color:transparent;color:#1e459f;margin:50px 0;position:relative;text-align:center;text-transform:uppercase;padding-bottom:5px;}



h2.title:after{position:absolute;width:96px;height:2px;background:#1e459f;content:'';left:0;right:0;margin:auto;bottom:0;}



.cl-courses img{margin-bottom:-50px;width:100%;height:auto;}



.public-course{background-image:url(../img/public-course-bg.jpg);background-size:100%; background-repeat:no-repeat;}



.in-house-course{background-image:url(../img/in-house-course-bg.jpg);background-size:100%;margin-top:50px; background-repeat:no-repeat;}



.integrated-elearning{background-image:url(../img/integrated-elearning-bg.jpg);background-size:100%;margin-top:50px; background-repeat:no-repeat;}



.conferences{background-image:url(../img/integrated-elearning-bg.jpg);background-size:100%;margin-top:50px; background-repeat:no-repeat;}



.in-house-course p, .conferences p{text-align:right;}



.in-house-course .readmore, .conferences .readmore{background:#a5d21e;}



.in-house-course .readmore:hover, .conferences .readmore:hover	{background:#aedf1b;}



.news{margin-top:50px; padding-top:30px;background:#ecf6ff;}



footer{background:#1e459f;color:#fff;padding-top:50px;  font-size:15px;}



footer ul{padding-left:0;}



footer li{list-style:none;font-weight:300; line-height:170%;}



footer li a{color:#fff;}



footer li a:hover{color:#A5D21E;}



footer h4{text-transform:uppercase;}



.copyright{background:#fff;color:#1e459f;text-transform:uppercase;text-align:center;padding:15px 0;}



.nl-form-holder{position:relative;font-family:'ITCAvantGardeStd-Bk', sans-serif;font-weight:200;}



.nl-form-holder .nl-submit{position:absolute;right:0;top:0;height:100%;border:0;background:#a5d21e;color:#fff;text-transform:uppercase;font-size:12px;padding:0 10px;}



.nl-form-holder .nl-submit:hover{ background:#aedf1b;}



.newsletter{padding:20px 0;}



.nl-form-holder .form-control{border-radius:0;}



.newsletter label{font-size:18px;text-transform:uppercase;font-weight:400;}



address{font-weight:300; line-height:170%;}



footer h5{text-transform:uppercase;}



.social li{float:left;text-align:center;margin:0 5px;width:34px; line-height:inherit;}



.social li a{display:block;color:#1e459f;background:#fff;padding:6px 0;border-radius:25px;box-shadow:1px 3px 3px 0px rgba(0,0,0,0.5);}



.social li a:hover{color:#a5d21e;}



.social li:first-child{margin-left:0;}



.mgnb30{margin-bottom:30px;}



.mgnb50{margin-bottom:50px;}



.res-img{width:100%;height:auto;}



.trainig-calendar {

  

    text-align: center;

    float: left;

      margin-left: 23%;

    margin-top: 20px;

}



.trainig-calendar .year{padding-left:0;     float: right;}



.trainig-calendar .year li {

    list-style: none;

    color: #fff;

    font-weight: 700;

        font-size: 23px;

    background: #1e459f;

    margin-bottom: 5px;

    padding: 10px 7px ;

    float: right;}



.trainig-calendar .year li:hover{background:#026ED3;}



.trainig-calendar .year li a{color:#fff;}



.trainig-calendar h3 {

    background: #a5d21e;

    padding: 15px 16px;

      font-size: 20px;

    text-align: center;

    color: #fff;

    margin-bottom: 0;

    float: left;

    margin-top: 0;

}



.testimonials{background-image:url(../img/testimonials-bg.jpg);background-size:100%;padding-bottom:20px; background-repeat:no-repeat;}



#testimonials-slider{text-align:center;max-width:700px;margin:0 auto;}



.testimonials p{line-height:200%;font-weight:300;}



.testimonials h4{position:relative;font-family:'NexaBold';display:table;margin:30px auto;color:#333; padding-left:80px;}



.testimonials h4:before{position:absolute;width:60px;height:3px;background:#333;content:'';left:0px; top:10px;}



.qualifications{padding-bottom:50px;}



.qualifications .container{position:relative;}



#qul-slider{max-width:800px;margin:0px auto;padding:20px 0;}



#map{height:290px;}



#qul-slider .owl-prev{position:absolute;left:0;top:50%;margin-top:-33px;background:none;}



#qul-slider .owl-next{position:absolute;right:0;top:50%;margin-top:-33px;background:none;}



#qul-slider .fa{color:#1e459f;font-size:40px;}



.quic-contact{padding-bottom:30px;}



.help-desk{text-align:center;background-image:url(../img/help-desk-bg.jpg);background-size:100%;padding:41px 0;background-position:bottom left;background-repeat:no-repeat;background-color:#e9e9e9;}



.help-desk h4{font-size:25px;padding-bottom:20px;padding-left: 53px;}



.help-desk h5 {



  font-family: "NexaBold";



  font-size: 22px;



  padding-left: 50px;



}



.faq-btn{text-align:center;display:block;background:#a5d21e;color:#fff;padding:20px 0;font-size:22px;margin-top:10px;}



.faq-btn:hover{color:#fff; background:#aedf1b;}



.updated-course{padding-bottom:50px;}



.updated-course .readmore{padding:10px 20px;margin-top:40px;font-size:18px;font-family:'NexaBold';}



.updated-course .content{padding-left:50px;position:relative;}



.updated-course .icon{position:absolute;left:0;top:0;width:40px;}



.updated-course .icon img{width:100%;}



.updated-course p{color:#b2b2b2;font-weight:300;}



.updated-course .date{color:#000;}



.owl-theme .owl-dots .owl-dot span{background:#fff;}



.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background:none;border:1px solid #fff;}



.public-course:before, .public-course:after,.in-house-course:before, .in-house-course:after, .integrated-elearning:before,.integrated-elearning:after,.news-slider:before,.news-slider:after, .conferences:before,.conferences:after, .news:before, .news:after, .date:before, .date:after, #qul-slider:after,#qul-slider:before, .help-desk:before, .help-desk:after, .hp-slider-wrapper:before, .hp-slider-wrapper:after, .banner-search:before, .banner-search:after, .contact-address:before, .contact-address:after{clear:both;display:table;content:" ";}



.subpage-banner {



  margin-bottom: 20px;



  overflow: hidden;



  position: relative;



}



.viwAll {



  clear: both;



}



.subpage-banner img{min-width:100%;min-height:200px;}



.subpage-banner:after{content:'';position:absolute;width:100%;height:100%;left:0;top:0;background:rgba(0,85,165,0.3);}



.banner-holder{position:absolute;left:0;right:0;z-index:9;bottom:30px;max-width:1200px;padding:0 15px;margin:auto;width:100%;color:#000;}



.banner-holder h3{font-size:30px; padding-bottom:10px;}



.bc{padding-left:0;}



.bc li{list-style:none;float:left;padding-right:25px;position:relative;color:#000;}



.bc li:after{content:'';font-family:'FontAwesome';position:absolute;right:10px;background-image:url("../img/bc-img.png");width:7px;height:7px;top:0;bottom:0;margin:auto;}







.bc li:last-child:after{display:none;}



.bc li a {



  color: #105AA3;



}



.bc li a:hover {



  color: #000;



}



.subpage-content{padding-top:20px;}



.subpage p{font-weight:300;line-height:200%;}



.responsive-tabs li{width:100%;font-weight:300;}



.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border:0;background-color:#1e459f;color:#fff;border-right:5px solid #a5d21e; font-weight:400;}



.responsive-tabs-container[class*="accordion-"] .accordion-link.active{background-color:#1e459f;color:#fff;border-right:5px solid #a5d21e;text-decoration:none;}



.nav-tabs > li{margin-bottom:0}



.nav-tabs{border-bottom:0;}



.nav-tabs > li > a{border-radius:0;padding-left:20px;background-color:#eaeaea;color:#000;}



.nav-tabs > li{padding-bottom:5px;}



.responsive-tabs-container[class*="accordion-"]{font-weight:300;}



.sub-page h4{position:relative;padding-bottom:10px;}



.sub-page h4:after{position:absolute;content:'';width:70px;height:3px;background-color:#1e459f;bottom:0;left:0;}



.dropdown-menu > li > a{font-weight:300; padding-top:8px; padding-bottom: 8px; }



.dropdown-menu > li > a:hover{text-decoration: none;}



.navbar-nav > li:first-child{padding-left: 0;}



.contact-form{margin-top:35px;}



.contact-form textarea{resize:none; height:120px;}



.contact-form .form-control{border-radius:0; height: 44px;padding: 9px 12px; font-weight: 300; }



.contact-form textarea.form-control{height: 120px;}



.contact-form .btn{background:#1e459f; color: #fff; border-radius: 0; text-transform: uppercase; font-weight: 300; padding: 10px 15px;}



.contact-form label{font-size:18px; font-weight: 400;}



.contact-form .form-group{ margin-bottom: 30px;}



#map2{height:430px; margin-top:35px;}



#contact-us-page .subpage-banner{ margin-bottom: 0;}



.contacts h4{ color:#1e459f;}







.contact-address{background:#ececec; text-align: center;  margin-bottom:50px; overflow: hidden;}



.contact-address .col-30{width:30%; float:left; position: relative; padding: 90px 20px 30px; }



.contact-address .col-40{width:40%; float:left; padding: 90px 20px 30px;  position: relative; } 



.contact-address .col-30:after, .contact-address .col-40:after{content:''; width:1px; height:225%; position: absolute; right:0; top:0; background:#a2a2ae; }



.contact-address .col-30.last-col:after{display:none;}



.contact-icon{ width: 40px; height: 40px; margin:auto; left: 0; right:0; position: absolute; top:30px;}



.contact-address a{color:#000;}







table{border: 1px solid #ddd; border-collapse: separate;}



.resp-table th{padding:10px !important;  border:0;  font-weight:normal; text-align:left; background: #eaeaea; border-right: 1px solid #fff;  border-left:1px solid #fff; color: #626262; }



.resp-table td{padding:10px;   border:0; text-align: left;background: #eaeaea; border-right: 1px solid #fff; border-left:1px solid #fff;  border-top: 1px solid #fff; font-weight: 300; color: #626262; }







.resp-table .btn{color: #fff; background:#1e459f; font-weight:300;}



.resp-table .btn:hover{background: #026ed3;}



#training-calendar-page .sub-page h4{ margin-bottom: 20px;}	



.resp-table  td:nth-child(3){min-width:128px;}



.resp-table  td:nth-child(5){ white-space: nowrap;}



.resp-table  td:nth-child(1), .resp-table  td:nth-child(3), .resp-table  td:nth-child(4){text-align:center;}



.pagination{ margin: 20px auto; display: table;}



.pagination li{text-transform:uppercase;}



.pagination li a{border:0; padding: 0px 10px; border-left:1px solid #1e459f; margin-left: 0; margin-top:3px; color: #000; font-weight: 400; }



.pagination li:first-child a, .pagination li:last-child a{color:#fff; background: #1e459f; border-radius: 3px;  padding:3px 10px; margin-top: 0;}



.pagination li:first-child a, .pagination li:nth-child(2) a{ border-left:0;}



.pagination li a:hover{ border-left-color: #1e459f; background-color: transparent;}



.pagination li:first-child a:hover, .pagination li:last-child a:hover{ background: #026ed3; }



.nav-tabs > li > .prev-btn{background:#4f4f4f; color: #fff;  border: 0; border-right: 5px solid #a5d21e;}



.nav-tabs > li > .prev-btn:hover{background: #626262; border-right: 5px solid #a5d21e;}



#top{ position:fixed; bottom:50px; right:15px; z-index:9999; width:40px; height:40px; background:#a5d21e; border-radius:50px; font-size:26px; text-align:center; color:#fff; display:none;}



#top a{color:#fff;}



.gal li {



  border: 1px solid #eee;



  display: block;



  float: left;



  margin: 5px;



  min-height: 326px;



  overflow: hidden;



  padding: 10px;



  width: 32%;



}



.gal {



  text-align: center;



}



.gal span {



  display: block;



  margin: 10px 0;



  font-size: 14px;



}



.gal img {



  max-width: 100%;



}



.gal ul {



  padding: 0;



}



.testimonialsList .clearfix {



  border: 1px solid #eee;



  list-style: outside none none;



  margin-bottom: 35px;



  padding: 20px;



  text-align: center;



  border-top: 5px solid #0057a9;



}



.clearfix .name {



  color: #0057a9;



  font-size: 18px;



  font-weight: 500;



  margin-bottom: 0px;



}



.clearfix .meta {



  color: #336FAD;



  font-size: 12px;



  font-weight: 400;



}



.testimonialsList {



  padding: 0;



}



.pagination ul li a::before {



    display: none;



}



.pagination ul li a::after {



    display: none;



}



.pagination li {



  display: inline-block;



}



.clearfix .head {



  background-color: #eee;



}



.pagination ul {



  padding: 0;



}



.subpage-content .pagination {



  display: inline;



  text-align: center;



}



.frmEnquiry {



  border: 1px solid #eee;



  padding: 20px;



}



.frmEnquiry ul {



  padding: 0;



}



.frmEnquiry label {



  display: block;



}



.frmEnquiry li {



  list-style: outside none none;



  margin-bottom: 25px;



}



.frmEnquiry .frmSbmt {



  width: auto;



  padding: 5px 10px;



  background: #1e459f none repeat scroll 0 0;



    border-radius: 0;



    color: #fff;



    font-weight: 300;



    padding: 10px 15px;



    text-transform: uppercas



}



.frmEnquiry .frmSbmt:hover {



  background: #fff none repeat scroll 0 0 !important;



  color: #1e459f;



  border-color: #1e459f;



  font-weight: 400;



}



.frmEnquiry input {



  border: 1px solid #ccc;



  height: 44px;



  width: 50%;



}



.frmEnquiry textarea {



  width: 50%;



    border: 1px solid #ccc;



}



.frmEnquiry select {



  border: 1px solid #ccc;



  height: 44px;



  width: 50%;



}







.frmEnquiry li input:focus {



  border-color: #66afe9;



  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);



  outline: 0 none;



}



.frmEnquiry li textarea:focus {



  border-color: #66afe9;



  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);



  outline: 0 none;



}



.goog-te-gadget-simple {



  border: medium none !important;



}



.flashError{



  color: #f70712;



}



.flashSuccess {



  color: #26c102;



}



.pagination .active a {



  color: #026ed3;



  text-decoration: underline;



}



.clearfix figure img {



  border: 1px solid #eee;



  padding: 2px;



  width: 100px;



}



.ftrTel {



  color: #fff;



}



.ftrTel:hover {



  color: #A5D21E;



}



.fxHdr {



  color: #000;



}



.fxHdr i {



  padding-right: 10px;



}



.page_6 table {



  padding: 20px;



  width: 100%;



  border: 1px dashed #000;



}



.lightbox-overlay button {



  border: medium none !important;



}



.contact-address a:hover {



  color: #0055A5;



}



.qLstng li {



  list-style: outside none none;



  margin-bottom: 10px;



}



.qLstng li {



  background: rgba(0, 0, 0, 0) url("../img/question.jpg") no-repeat scroll 0 0;



  font-size: 17px;



  padding-bottom: 5px;



  padding-left: 33px;



  text-align: left;



}



.faqCvr ul {



  padding: 0;



}



.page_6 td {



  border: 1px solid #eee;



  padding: 10px;



}



.page_6 strong {



  font-size: 18px;



}



.page_6 td {



  border: 1px solid #eee;



  font-weight: 300;



  padding: 10px;



}



.testimonials .owl-theme .owl-dots .owl-dot span {



  background: #000 none repeat scroll 0 0;



}



.testimonials .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {



  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;



  border: 1px solid #000;



}

.qLitems 

{

	width:100%;

	float:left;

	text-align:center;

	}

.qLitems .item

{

	    width: 230px;

	margin:0px 0px 0px;

	float:none;

	display:inline-block;

	margin-bottom:60px;

	}



	

.qLitems .item img

{

	width:60%;

	}

.certifications 

{

	

	    padding: 70px 0px;

	    background-color: #ecf6ff;

		    text-align: center;

	}

.certItem {

    float: none;

    display: inline-block;

    background-color: #fff;

    padding:30px 20px;

    width: 270px;

    margin: 0px 8px;

}
.fivecrt {
width:214px;
}



.certIcon {

    width: 100px;

    height: 100px;

    margin: 0px auto 15px;

}
.sixsigma {
width: 155px;
    height: 65px;
  }



.certIcon img {

    width: 100%;



}

.certItem p

{

	    font-weight: 500;

	font-size:14px;

	}

.certItem a{ font-size:14px; color:#000; text-decoration:none; }

.hide {

	

	

	opacity:0;

	}

.certifications h2.title

{

	margin-top:0px;

	}

.certItem span.tm

{

    font-size: 7px;

    position: relative;

    top: -5px;

	}



  

 @media only screen and (min-width : 630px) and (max-width : 700px) {

	 .trainig-calendar {

    margin-left: -3% !important;

}

 

 .trainig-calendar h3 {

    font-size: 10px !important;

}

.trainig-calendar .year li {

    font-size: 14px !important;

}

 }



@media (min-width:600px){



.news-slider{padding-bottom:20px;margin-bottom:20px;}



#news .owl-nav{margin-top:-40px;}



}



@media (min-width:768px){.col-lg-03{width:200px;}



.col-lg-09{width:550px;}



}



@media (min-width:1024px){ul.nav li:hover > ul.dropdown-menu{display:block;}



#navbar{text-align:center;}



}



@media (min-width:991px){.tab-title{display:none;}



}



@media (min-width:1200px){

	

	

	

	.container{width:1200px;}



#qul-slider .owl-prev{left:-190px;}



#qul-slider .owl-next{right:-190px;}



.col-lg-03{width:220px;}



.col-lg-09{width:980px;}



.news-slider:after{position:absolute;content:'';bottom:0;left:0;width:100%;height:30px;background:#ECF6FF;}



.news-slider{padding-bottom:0;}



#news .owl-nav{margin-top:-80px;}



.contacts .col-lg-7{ padding-left: 35px;}



}



@media (max-width:1199px){

	.trainig-calendar {

  

    margin-left: 11%;

    

}

	.certItem {

    width: 270px;

    margin: 14px 25px;

}

	

	

	.navbar-default .navbar-nav.nav > li > a{font-size:13px;padding:15px 8px;}



.banner-search{position:relative;padding:20px 15px;}



.banner-search .col-text{width:290px;}



.banner-search .form-control, .banner-search .col-select .select-style{border:1px solid #eee;}



.banner-search label{color:#1e459f;}



}



@media (max-width:1024px){.slider-holder h1{font-size:56px;}

li.offrBtn{text-align:center;}

li.offrBtn a {

    color: #fff !important;

    font-size: 20px !important;

}

}



@media (max-width:1023px){.navbar-header{float:none}.navbar-left,.navbar-right{float:none !important}.navbar-toggle{display:block}.navbar-collapse{border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,0.1)}.navbar-fixed-top{top:0;border-width:0 0 1px}.navbar-collapse.collapse{display:none!important}.navbar-nav{float:none!important;margin-top:7.5px}.navbar-nav>li{float:none}.navbar-nav>li>a{padding-top:10px;padding-bottom:10px}.collapse.in{display:block !important}



.dropdown-menu > li > a{padding:8px 15px;}



.navbar-nav{display:inline;}



.navbar-default .navbar-brand{display:inline;}



.navbar-default .navbar-toggle .icon-bar{background-color:#fff;}



.navbar-default .navbar-nav .dropdown-menu > li > a{color:red;background-color:#ccc;border-radius:4px;margin-top:2px;}



.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#333;}



.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,



.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{background-color:#ccc;}



.navbar-nav .open .dropdown-menu{border-bottom:1px solid white;border-radius:0;}



.dropdown-menu{padding-left:10px;position:relative;float:none;width:100%;box-shadow:none;border:0;}



.dropdown-menu .dropdown-menu{padding-left:20px;}



.dropdown-menu .dropdown-menu .dropdown-menu{padding-left:30px;}



li.dropdown.open{border:0px solid #ff0000;}



.navbar-default .navbar-nav.nav > li > a{font-size:14px;padding:15px 15px;}



.navbar-collapse{padding-left:0;padding-right:0;}



.navbar-nav{padding-left:0;padding-right:0;}



.nav > li, .navbar-default .navbar-nav.nav > li > a{padding-left:0px;padding-right:0px;}



.public-course,.in-house-course,.integrated-elearning,.conferences, .testimonials{ background-size:cover;}



.gal li {



  min-height: 218px;



  width: 31%;



}



}







@media (max-width:899px){

	header .logo img

	{

		    width: 120px;

		}

	.trainig-calendar {

    margin-left: 4%;

 

 

}

	.trainig-calendar h3 {



    font-size: 15px;

	}

	.trainig-calendar .year li {

  

    font-size: 18px;

	    padding: 10px 7px 11px;

	}

	

	#qul-slider .owl-item img {

  display: inline-block;

  width: auto;

}

.qualifications .item {

  text-align: center;
   

}
.qLitems .item{
   margin:0px 20px 60px;
}

	.banner-search .col-text{width:100%;}



.banner-search .col-select{width:50%;}



.banner-search .col-submit{width:100%;margin-top:20px;}



.slider-holder{top:auto;height:auto;padding-bottom:5%;}



.slider-holder h1{font-size:46px;}



	



table.resp-table{border: 0; border-collapse: separate;}



table.resp-table, .resp-table thead, .resp-table tbody, .resp-table th, .resp-table td, .resp-table tr{display:block}



.resp-table thead tr{position:absolute;top:-9999px;left:-9999px}



.resp-table tr { border: 1px solid #ccc; }



.resp-table td{border:none;border-bottom:1px solid #eee;position:relative;padding-left:50%;white-space:normal;text-align:left}



.resp-table td:before{position:absolute;top:9px;left:6px;width:45%;padding-right:10px;white-space:nowrap;text-align:left;font-weight:bold}



.resp-table td:before{content:attr(data-title)}



.resp-table  td:nth-child(1), .resp-table  td:nth-child(3), .resp-table  td:nth-child(4){text-align:left;}



.frmEnquiry textarea {



  width: 70%;



}



.frmEnquiry input {



  width: 70%;



}	



.frmEnquiry select {



  width: 70%;



}



}







@media (max-width:767px){

.bnr-sec-lg{ text-align:left; top: 10px;}	

.bnr-sec-lg img {

    width: 144px;

}

.vatMsg span {

    text-align: center;

    margin-left: 0;

    cursor: pointer;

    display: block;

    margin: 12px auto;

    width: 80px;

}

	

.banner-holder h3 {

  font-size: 25px;

  padding-bottom: 10px;

}

	.help-desk {



  background-size: 370px auto;



}



#map {



  margin-top: 20px;



}



	.slider-holder h1 {



  font-size: 26px;



}







	.nwsDtlsN > img {



  float: none;



  height: auto;



  margin-bottom: 20px;



  margin-left: 0;



  max-width: 100%;



}



	.catNwBoxTtle {font-size: 17px;}



	.cl-courses img{margin-bottom:20px;}



	#map2{ margin-bottom: 30px;}



	#top{disply:block; bottom: 76px;}



	footer{text-align:center;}



	.social{display:table; margin: 0 auto;}



	.gal li {



  border: 1px solid #eee;



  display: inline-block;



  margin-bottom: 5px;



  padding: 10px;



  width: 100%;



}



.frmEnquiry textarea {



  width:100%;



}



.frmEnquiry input {



  width: 100%;



}	



.frmEnquiry select {



  width:100%;



}



.frmEnquiry li:last-child {



  text-align: center;



}



.faqCvr a {



  text-decoration: underline;



}



.faqCvr a strong {



  font-weight: 500;



}



#map2 {



  margin-bottom: 0px;



  height: 300px;



}



.qLstng span {



  float: left;



  width: 100%;



}



.lightbox-overlay button[aria-label="Previous"] {



  left: 0;



  font-size:22px!important;



  width:20px !important;height:80px !important;background:#000 !important;



}



.lightbox-overlay button[aria-label="Next"] {



  right: 0;



    font-size:22px!important;



  width:20px !important;height:80px !important;background:#000 !important;



}



.phones {float: right; padding-bottom: 15px;}



.select_style{float:right;}



.header-right{float:none;}}











@media (max-width:599px){

	.phones > li {

  display: inline-block;

  float: none;

}

.phones {

  text-align: center;

  width: 100%;

}

.header-right {

  margin: 0 auto;

  text-align: center;

  width: 100%;

}

		.phones {float: left;}



.select_style{float:left;}



.header-right{float:right;}



	



	.banner-search .col-text, .banner-search .col-select{width:100%;padding-right:0;}



.header-right .select_style{position:absolute; right:0px;top:-57px;}



.phones li:first-child{padding-left:0;}



.phones li{font-size:15px;margin-bottom:5px;}



.header-right{padding-top:0;}



h2.title{font-size:32px;}



.trainig-calendar {

    margin: 0px auto 0px !important;

    width: 310px;

    float: none;

    position: relative;

    top: 8px;

}



#news .image{width:100%;padding-right:0;margin-bottom:20px;}



#news .content-col{width:100%;}



#news .owl-nav{width:100%;}



.news-slider{margin-bottom:20px;}



#news .content{font-size:14px;}



.slider-holder h1{font-size:25px;}



.contact-address .col-30{width:100%; padding:90px 20px 30px; }



.contact-address .col-40{width:100%; padding:90px 20px 30px;} 



.contact-address .col-30:after, .contact-address .col-40:after{ width:100%; height:1px; right:0; bottom:0; top:auto;  }	



.phones {



  margin-top: 7px;



}

.logo {

  display: block;

  float: none;

  margin: 5px auto 9px;

  width: 133px;

}



.phones li a {



  font-size: 18px;



}



.fxHdr {



  font-size: 18px;



}



}



@media (max-width:479px){

	header .logo img {

    width: auto;

}

	.certItem {



    margin: 14px 0px;

}

.lightbox-content figcaption {

  font-size: 10px;

}

	.slider-holder h1 {



  font-size: 17px;



}



.slider-holder h5 {



  font-size: 10px;



}



	#qul-slider .owl-item{padding:0 50px;}



.page_6 {



  overflow-x: auto;



  width: 100%;



}



.td {



  white-space: normal!important;



}



}



@media (max-width:400px){



	.phones li a {



  font-size: 14px;



}



.fxHdr {



  font-size: 14px;



}



.phones {



  margin-top: 7px;



}}



@media (max-width:375px){ /*.slider-holder h1{font-size:24px;}*/



.slider-holder{padding-bottom:0;}



.slider-holder h5{font-size:14px;line-height:120%;}



.subpage-banner{height:150px;overflow:hidden;}

.inr-sec-banner{height:150px;overflow:hidden;}

.bnr-sec-lg {top: 10px;}



.subpage-banner img{min-height:150px;}



.dropdown-menu{padding-left:0;padding-top:0;}



.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a{padding:5px 0px 5px 10px;}



.banner-holder h3{font-size:16px;} 

.bc > li {

  font-size: 12px;

  padding-right: 0;

}

.banner-holder{bottom:15px;}



#hp-slider .owl-dots {



    bottom: 20px;



}
.trainig-calendar h3 {
    font-size: 14px;
}
.trainig-calendar .year li {
    font-size: 14px;
    padding: 13px 7px 12px;
}
.trainig-calendar{ width: 282px;}



}



