header {
    background: $white;
    width: 100%;
    position: fixed;
    z-index: 999;
    div,
    img,
    a {
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
    .tophead {
        margin: 1px 0 4px;
        .logo {
            float: left;
            width: 31.1%;
        }
        .tpcenter {
            float: left;
            width: 26%;
            margin-top: 14px;
            a {
                display: inline-block;
                background: $green;
                color: $white;
                padding: 15px 45px;
                font-size: 16px;
                font-family: $font-demi;
                &:hover {
                    background: $blue;
                }
            }
        }
        .tpcontct {
            float: right;
            width: 63.9%;
            margin-top: 14px;
            text-align: right;
            .cntdtls {
                width: 72%;
                display: inline-block;
                text-align: right;
                padding-right: 39px;
                li {
                    font-size: 14px;
                    color: $black;
                    font-family: $font-demi;
                    a {
                        font-size: 14px;
                        color: $black;
                        font-family: $font-demi;
                        &:hover {
                            color: $green;
                        }
                    }
                }
            }
            .offrs {
                width: 115px;
                display: inline-block;
                text-align: right;
                a {
                    display: inline-block;
                    background: $blue;
                    color: $white;
                    font-size: 16px;
                    padding: 12px 35px;
                    &:hover {
                        background: $green;
                    }
                }
            }
        }
    }
}

ul.sub-menu a {
    font-size: 16px !important;
}

.aniPos {
    background-color: #fff;
    position: fixed;
    z-index: 9999;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.21);
    div,
    img,
    a {
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
}

.aniPos ul.sub-menu a {
    font-size: 14px !important;
}

.current_page_item>a,
.current-menu-item>a {
    color: $green !important
}

footer .current_page_item a,
footer .current-menu-item a {
    background: none;
    border-bottom: 4px solid $opacity !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: $white !important;
}

a.menu-link {
    color: $black;
    display: block;
    text-decoration: none;
    height: 22px;
    width: 35px;
}

.menu-link:hover span {
    border-color: $blacklightDark;
}

.menu,
.menu>ul,
.menu>ul ul {
    clear: both;
    flex-flow: column;
}

.menu.active1 {
    background: $black;
    border-bottom: 1px solid $dgreen;
    border-top: 1px solid $dgreen;
    margin: 1em 0 1em -12px;
    max-height: 55em;
    width: 100vw;
}

.menu>ul {
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0;
    position: relative;
}

nav>ul>li {
    margin: 0 1px;
}

nav>ul>li:first-child {
    margin-left: 0;
}

nav>ul>li:last-child {
    // margin-right: 0;
    ul.sub-menu {
        right: 0;
        left: inherit;
        li {
            text-align: right;
        }
    }
}

li.contactMenu a {
    padding: 8px 20px !important;
    font-family: $font-bold;
    border: 3px $green solid;
    &:hover {
        background: $green;
        color: $white !important;
    }
}

li.contactMenu a:before,
li.contactMenu a:hover:before {
    display: none
}

li.contactMenu {
    margin-left: 12px !important;
    float: right;
}

.menu li a {
    color: $white;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    font-family: $font-medium;
    padding: 4.5px 26px;
    text-decoration: none;
}

li.menu-item-has-children a {
    padding-right: 19px !important;
}

span.has-subnav {
    display: block;
    color: $white;
    font-size: 1em;
    line-height: 34px;
    position: absolute;
    padding: 0 0.5em;
    cursor: pointer;
    right: 7px;
    top: -2px;
    width: 30px;
    height: 30px;
}


/*===============  Navigation Toggle  ===================*/

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    position: absolute;
    display: block;
    content: '';
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    background: $green;
}

#nav-toggle span::before {
    top: 8px;
}

#nav-toggle span:after {
    bottom: -16px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    transition: all 500ms ease-in-out;
}

#nav-toggle.active1 span {
    background-color: transparent;
}

#nav-toggle.active1.active1 span::before,
#nav-toggle.active1.active1 span::after {
    top: 11px;
}

#nav-toggle.active1 span:before,
#nav-toggle.active1 span:after {
    top: 0;
}

#nav-toggle.active1 span:before {
    transform: rotate(45deg);
}

#nav-toggle.active1 span:after {
    transform: rotate(-45deg);
}

.menuD {
    text-align: center;
}


/* Accordian Starts*/


/*----- Accordion -----*/

.accordion,
.accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion {
    overflow: hidden;
}


/*----- Section Titles -----*/

.accordion-section-content,
.accordion-section-content p {
    font-size: 14px;
}

.accordion-section-title {
    width: 100%;
    position: relative;
    padding: 8px 36px 8px 15px;
    display: inline-block;
    transition: all linear 0.15s;
    text-shadow: 0px 1px 0px #1a1a1a;
    border-bottom: 1px #5b81da solid;
    margin-bottom: 0;
    background: #1e459f;
    line-height: 22px;
    font-size: 16px;
    color: #fff !important;
    text-decoration: none;
}

.accordion-section-title.active {
    background: #1e459f;
    text-decoration: none;
}

.accordion-section-title:hover {
    background-color: #3961bf;
    text-decoration: none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom: none;
}

a.accordion-section-title.active {}


/*----- Section Content -----*/

.accordion-section-content {
    padding: 15px;
    display: none;
}

a.accordion-section-title:after,
a.accordion-section-title:before {
    position: absolute;
    top: 50%;
    background: #fff;
    content: "";
}

a.accordion-section-title:before {
    right: 20px;
    width: 1px;
    height: 20px;
    margin-top: -10px;
}

a.accordion-section-title:after {
    right: 10px;
    width: 20px;
    height: 1px;
}

a.accordion-section-title.active:before {
    opacity: 0;
}


/* Accordian Ends*/

@media screen and (min-width: 875px) {
    header .menuD {
        padding: 2px 0;
        background: $blue;
    }
    .menu ul ul ul {
        left: 329px;
        top: 0;
        padding-top: 0;
    }
    .menu ul ul {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #a5d21e;
            top: 9px;
            left: 11px;
        }
    }
    .aniPos {
        .menuD {
            padding: 2px 0;
        }
        .logo img {
            width: 100px;
        }
        .tophead {
            margin: 7px 0 7px;
            .tpcenter {
                margin-top: 5px;
                width: 24%;
                a {
                    display: inline-block;
                    padding: 11px 18px;
                }
            }
            .logo {
                width: 16%;
            }
            .tpcontct {
                text-align: right;
                width: 74%;
                margin-top: 5px;
                .cntdtls {
                    width: 69%;
                    margin-top: 13px;
                    li {
                        display: inline-block;
                        margin-right: 25px;
                    }
                }
                .offrs {
                    width: 17%;
                    margin-top: 0;
                }
            }
        }
    }
    /*############################ Menu ##############*/
    a.menu-link {
        display: none;
    }
    .js .menu,
    .js .menu>ul ul {
        max-height: none;
        overflow: visible;
    }
    .js .menu>ul li:hover>ul {
        display: flex;
    }
    .menu ul {
        float: right;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    // nav>ul>li:last-child {
    //     padding-right: 0;
    // }
    .menu>ul>li>a {
        position: relative;
        border-radius: 6px;
        border: 2px transparent solid;
        &:hover {
            color: $green;
        }
    }
    .menu span.has-subnav {
        width: 10x;
        height: 6px;
        background: url(../images/droparrow.png) no-repeat center bottom;
        position: absolute;
        right: -1px;
        top: 17px;
        background-size: 10px !important;
        text-indent: -9999px;
        z-index: 9;
    }
    .menu ul ul span.has-subnav {
        background: url(../images/dropdown-icon-white.png) no-repeat center bottom;
    }
    .menu li a:hover {
        color: $black;
    }
    .menu ul ul {
        border-radius: 0px 0px 5px 5px;
        border-bottom: solid 1px transparent;
        display: none;
        height: auto;
        overflow: hidden;
        padding: 17px 0 0;
        position: absolute;
        text-align: left;
        left: 24px;
        right: 0;
        top: 24px;
        min-width: 285px;
        z-index: 999;
    }
    .aniPos .menu ul ul {
        top: 20px;
    }
    .aniPos .menu ul ul ul {
        top: 0;
    }
    .aniPos nav.menu>ul>li.current_page_item span.has-subnav {
        top: 14px;
    }
    .aniPos nav.menu>ul>li.current_page_item:hover span.has-subnav {
        top: 13px;
    }
    .chrome .js .menu>ul ul {
        top: 43px;
    }
    .menu ul ul.wide {
        width: 300px;
    }
    .menu ul ul li {
        border-top: solid 2px $green;
        display: inline-block;
        position: relative;
        background: $white;
        &:hover {
            background: $blue;
            a {
                color: $white;
            }
        }
    }
    .menu>ul ul li:last-child {
        border-bottom: none;
    }
    .menu ul ul li a {
        display: block;
        padding: 1px 11px;
        font-size: 13px;
        color: $blue;
    }
    .aniPos .menu li li a {
        font-size: 14px;
    }
    .aniPos nav>ul>li {
        margin: 0 12px;
    }
    /*Menu ends*/
}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1230px) {
    nav>ul>li {
        margin: 0 1px;
    }
    .aniPos nav>ul>li {
        margin: 0 3px;
    }
}

@media screen and (max-width: 1184px) {
    nav>ul>li {
        margin: 0 3px;
    }
    .aniPos nav>ul>li {
        margin: 0 3px;
    }
    .menu li a {
        font-size: 17px;
    }
    .aniPos .menu li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 1090px) {
    header .tophead .logo {
        width: 26%;
    }
    /*header .tophead .tpcontct {
        width: 38.9%;
    }*/
    header .tophead .tpcontct .offrs {
        margin-top: 0;
    }
    header .tophead .tpcontct .offrs a {
        float: right;
    }
    .aniPos .menu ul ul:after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #a5d21e;
        top: -6px;
    }
    .menu ul ul:after {
        top: -7px;
    }
    li.menu-item-has-children a {
        padding-right: 16px !important;
    }
    .menu li a {
        font-size: 15px;
    }
    .menu span.has-subnav {
        right: -4px;
        top: 16px;
        height: 7px;
    }
    .aniPos .menu li a {
        font-size: 14px;
    }
    nav>ul>li {
        margin: 0 4px;
    }
    .aniPos nav>ul>li {
        margin: 0 1px;
    }
    .aniPos .menu ul ul {
        top: 32px;
    }
    .menu ul ul {
        padding: 0px;
        top: 41px;
    }
}

@media screen and (max-width: 1023px) {
    .innerpage {
        margin-top: 108px;
    }
    .menu li a {
        font-size: 15px;
    }
    nav>ul>li {
        margin: 0 1px;
    }
    .aniPos nav>ul>li {
        margin: 0 1px;
    }
    .aniPos .menu li li a {
        font-size: 14px;
        padding: 6px 19px 6px 27px;
    }
}

@media screen and (max-width: 995px) {
    nav>ul>li {
        margin: 0 0px;
    }
    .aniPos nav>ul>li {
        margin: 0 0px;
    }
    .menu li a {
        font-size: 13px;
    }
    .aniPos .menu li a {
        font-size: 14px;
    }
    .aniPos .menu li li a {
        font-size: 12px;
    }
    .menu span.has-subnav {
        top: 15px;
    }
}

@media screen and (max-width: 874px) {
    header .wid {
        padding: 0 15px;
    }
    .aniPos .menu ul ul:after {
        display: none;
    }
    .menu ul ul:after {
        display: none;
    }
    .aniPos .tpcontct {
        display: none;
    }
    header .tophead .logo {
        width: 14%;
    }
    header .tophead .tpcenter a {
        padding: 12px 20px;
    }
    header .tophead .tpcenter {
        width: 40%;
        margin-left: 30px;
    }
    header .tophead .tpcontct {
        width: 100%;
        border-top: 1px solid #9c9c9c;
        padding-top: 7px;
    }
    header .tophead .tpcontct .cntdtls {
        margin: 6px 0;
        width: 70%;
        float: left;
        text-align: left;
    }
    header .tophead .tpcontct .cntdtls li {
        float: right;
        padding-right: 0;
    }
    header .tophead .tpcontct .offrs {
        width: 28%;
    }
    header .tophead .tpcontct .offrs a {
        padding: 6px 38px;
    }
    header .tophead {
        margin: 10px 0;
    }
    .js .menu>ul ul.active1 {
        margin: 0;
        max-height: 55em;
        padding: 0;
    }
    .aniPos .menu ul ul {
        top: 0;
    }
    nav>ul>li:last-child ul.sub-menu li {
        text-align: left;
    }
    .aniPos ul.sub-menu a {
        font-size: 12px !important;
    }
    .menuD {
        float: right;
        text-align: left;
        width: 100%;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    nav>ul>li,
    li.contactMenu {
        margin: 0 0 !important;
    }
    li.contactMenu a {
        padding: 5px 15px !important;
        border: 1px #fff solid;
        font-family: $font-bold;
    }
    .menu ul ul span.has-subnav {
        width: 24px;
        background-size: 14px;
        padding: 0;
        top: 0;
        height: 24px;
    }
    .aniPos .menu ul ul span.has-subnav {
        top: 0;
    }
    .menu span.has-subnav {
        right: 15px;
        height: 20px;
        top: 7px;
    }
    .menu.active1 {
        overflow: auto;
        max-height: 420px;
    }
    .aniPos .menu {
        top: 91px;
    }
    .menu {
        z-index: 999999 !important;
        right: 0;
        margin: 0 0 0 !important;
        position: absolute;
        top: 111px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        width: 100%;
    }
    span.has-subnav {
        text-indent: -99999px;
        background: url(../images/dropdown-icon-white.png) no-repeat 50% 50%;
        top: 6px;
    }
    a.menu-link {
        float: right;
        margin-right: 15px;
        position: absolute;
        top: 42px;
        right: 0px;
    }
    .current_page_item>a,
    .current-menu-item>a {
        color: #a5d21e !important;
    }
    .menu,
    .menu>ul ul {
        margin: 0;
        max-height: 0;
        overflow: hidden;
    }
    .menu li li a {
        font-size: 13px;
        padding: 6px 15px 6px 27px;
    }
    .menu li:last-child a {
        border: none;
    }
    .menu li li:last-child a {
        border-bottom: 1px solid $lightBlue;
    }
    .menu li:hover {
        background: $green;
    }
    /*Menu Ends*/
    .navigate .menu-item-has-children>span {
        display: block;
        right: 2%;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 8px;
        cursor: pointer;
    }
    .navigate .menu-item-has-children:hover>ul {
        display: none;
    }
    .menu ul li {
        background: $blue;
        display: block;
        float: left;
        padding: 0 0;
        width: 100%;
    }
    .sub-menu {
        float: left;
        margin: 0;
        padding: 0;
        position: inherit;
        top: inherit;
        width: 100% !important;
    }
    .sub-menu li {
        width: 100%;
        padding: 0%;
    }
    .menu li a {
        font-size: 16px;
        border-bottom: 1px solid $dgreen;
        display: block;
        padding: 8px 15px;
        color: $white;
    }
    .sub-menu li a {
        border-bottom: 1px solid $dgreen !important;
        font-size: 17px !important;
        padding: 0px 23px !important;
        width: 100%;
    }
    .sub-menu ul li {
        background: none repeat scroll 0 0 $blacklightDark;
        display: block;
        padding: 16px 10px;
    }
    .sub-menu .sub-menu {
        float: left;
        position: static;
        padding: 0;
        margin: 0;
    }
    .sub-menu .sub-menu li {
        padding: 0;
        margin: 0;
    }
    .sub-menu .sub-menu li a {
        padding-left: 9% !important;
        background: $blue;
    }
    .sub-menu .menu-item-has-children a {
        background-image: none;
    }
    .sub-menu .menu-item-has-children a:hover {
        background-image: none;
    }
    .sitmpee .sub-menu li a {
        background-position: 0 1px;
        font-size: 16px !important;
        line-height: inherit !important;
        padding: 0 22px !important;
    }
    .sitmpee .sub-menu li a:hover {
        background-position: 0 1px !important;
    }
    .sitmpee li a {
        font-size: 16px;
        background-position: 0 2px;
    }
    .sitmpee li a:hover {
        font-size: 16px;
        background-position: 0 2px;
    }
}

@media screen and (max-width: 767px) {
    .menu li li a {
        height: 43px;
    }
    .menu li:hover span.has-subnav {
        top: 7px;
    }
    .menu li.menu-item-has-children :hover span.has-subnav {
        top: -1px;
    }
    .homeSec7 .hmCon7Lft {
        text-align: center;
    }
    .menuD {
        padding: 0;
        background: $white;
    }
    a.menu-link {
        position: absolute;
        right: 0;
        top: 35px;
    }
    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
        background: $green;
    }
    .aniPos ul.sub-menu a {
        font-size: 14px !important;
    }
    header {
        .logoRgt {
            .hdrRgtTop {
                float: right;
            }
            .hdrRgtTop {
                .hdrEmail {
                    float: right;
                    color: $white;
                    margin: 0;
                    font-size: 16px;
                }
            }
        }
    }
    a.menu-link.active1 {
        margin-top: -2px;
    }
    .menu {
        top: 140px;
        text-align: left;
    }
    .aniPos .menu {
        top: 91px;
    }
    .menu li a {
        color: $white;
    }
}

@media screen and (max-width: 479px) {
    .menu li:hover span.has-subnav {
        top: 5px;
    }
    .menu.active1 {
        overflow: auto;
        max-height: 364px;
    }
    a.menu-link {
        top: 28px;
    }
    a.menu-link.active1 {
        margin-top: -2px;
    }
    .menu {
        top: 119px;
        text-align: left;
    }
    .aniPos {
        .menu {
            top: 85px;
        }
        a.menu-link {
            top: 19px;
        }
    }
    .menu span.has-subnav {
        top: 6px;
    }
    .aniPos .menuD {
        padding-top: 0;
    }
    .blueSeclinks li.greenLi_1 div,
    .blueSeclinks li.greenLi_3 div {
        width: 92px;
    }
}

@media screen and (max-width: 431px) {
    .sub-menu li a {
        font-size: 15px !important;
    }
    a.menu-link {
        top: 24px;
    }
    header.aniPos .hdrTop .logo {
        width: 250px;
        margin-top: 7px;
    }
    .menu {
        top: 112px;
        text-align: left;
    }
    .aniPos .menu {
        top: 85px;
    }
}


/*# sourceMappingURL=menu.css.map */