@font-face {
    font-family: "ITCAvantGardeStd-Bk";
    font-display: swap;
    src: url("../fonts/ITCAvantGardeStd-Bk.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/ITCAvantGardeStd-Bk.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/ITCAvantGardeStd-Bk.otf") format("opentype"), /* Open Type Font */
    url("../fonts/ITCAvantGardeStd-Bk.svg") format("svg"), /* Legacy iOS */
    url("../fonts/ITCAvantGardeStd-Bk.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/ITCAvantGardeStd-Bk.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ITCAvantGardeStd-Bk.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg';
    font-display: swap;
    src: url("../fonts/lg.eot?n1z373");
    src: url("../fonts/lg.eot?#iefixn1z373") format("embedded-opentype"), url("../fonts/lg.woff?n1z373") format("woff"), url("../fonts/lg.ttf?n1z373") format("truetype"), url("../fonts/lg.svg?n1z373#lg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ITCAvantGardeStd-Demi";
    font-display: swap;
    src: url("../fonts/ITCAvantGardeStd-Demi.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/ITCAvantGardeStd-Demi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/ITCAvantGardeStd-Demi.otf") format("opentype"), /* Open Type Font */
    url("../fonts/ITCAvantGardeStd-Demi.svg") format("svg"), /* Legacy iOS */
    url("../fonts/ITCAvantGardeStd-Demi.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/ITCAvantGardeStd-Demi.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ITCAvantGardeStd-Demi.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ITCAvantGardeStd-Md";
    font-display: swap;
    src: url("../fonts/ITCAvantGardeStd-Md.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/ITCAvantGardeStd-Md.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/ITCAvantGardeStd-Md.otf") format("opentype"), /* Open Type Font */
    url("../fonts/ITCAvantGardeStd-Md.svg") format("svg"), /* Legacy iOS */
    url("../fonts/ITCAvantGardeStd-Md.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/ITCAvantGardeStd-Md.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ITCAvantGardeStd-Md.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ITCAvantGardeStd-Bold";
    font-display: swap;
    src: url("../fonts/ITCAvantGardeStd-Bold.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/ITCAvantGardeStd-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/ITCAvantGardeStd-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/ITCAvantGardeStd-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/ITCAvantGardeStd-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/ITCAvantGardeStd-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ITCAvantGardeStd-Bold.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

$font-regular: ITCAvantGardeStd-Bk,
sans-serif;
$font-demi: ITCAvantGardeStd-Demi,
sans-serif;
$font-medium:ITCAvantGardeStd-Md,
sans-serif;
$font-bold:ITCAvantGardeStd-Bold,
sans-serif;
$blue: #1e459f;
$green: #a5d21e;
$dgreen:#020202;
$white: #fff;
$orange:#e67b18;
$orangeOP92:rgba(255,
165,
0,
0.92);
$black:#000;
$violet: #32318f;
$gblue:#4885ed;
$yellow:#fbbc05;
$lightBlue:#18acf6;
$blacklightDark:#666;
$red:#ff0000;
$lightRed:#ff5722;
$darkRed:#ea4335;
$whiteopacity:rgba(255,
255,
255,
0);
$whiteopacity08:rgba(255,
255,
255,
0.8);
$whiteopacity09:rgba(255,
255,
255,
0.9);
$blackOpacity05:rgba(0,
0,
0,
0.5);
$blackOpacity75:rgba(0,
0,
0,
0.75);
$darkBg:#303030;
$opacity:rgba(54,
58,
243,
0);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
    font: 400 normal 19.6px/29px $font-regular, Arial, Helvetica, sans-serif;
    color: #000;
}

ol {
    margin-bottom: 20px !important;
    li {
        list-style-position: outside;
        margin-left: 19px;
        padding-left: 11px;
    }
}

iframe {
    width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}


/*---Universal Selector to add additional resets, such as text-size adjust and tap highlighting---*/

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

html {
    -webkit-text-size-adjust: 100%;
    /* Prevent font scaling in landscape while allowing user zoom */
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background: $white;
}

ul {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}


/*---Additional Form resets---*/

:required {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}


/*---Typographic Styling---*/

em,
i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

blockquote,
q {
    quotes: "" "";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}


/*---Interactive Element Settings---*/

a,
input[type="submit"],
input[type="button"],
button,
label[for] {
    cursor: pointer;
}

input[type="submit"] {
    -webkit-appearance: none;
}

input[type="submit"],
a.button {
    width: 144px;
    height: 42px;
    background: $green url(../images/submit-icon-white.png) no-repeat 88% 50%;
    border: 1px solid $green;
    border-radius: 0;
    color: $white;
    font-size: 23px;
    padding: 3px 36px 3px 9px;
    display: block;
    font-family: $font-bold;
    margin: 0 auto;
    outline: none;
}

input[type="submit"]:hover {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;
    background-image: url(../images/submit-icon-white.png)
}


/*---Misc. Element Styling---*/

div.wpcf7-validation-errors,
.wpcf7-mail-sent-ok,
div.wpcf7-spam-blocked,
div.wpcf7-acceptance-missing {
    display: none !important;
}

.wpcf7-form-control-wrap {
    display: inline-block;
    width: 100%;
}

span.wpcf7-not-valid-tip {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-size: 13px !important;
    background: #fff;
    border-radius: 0;
    padding: 3px 11px;
    border: 1px #f00 solid;
}

img {
    -ms-interpolation-mode: bicubic;
}

.linksiz {
    font-size: 19px;
    line-height: 30px;
}


/* Proper box model */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* General styles */

::selection {
    background: $violet;
    color: $lightBlue;
}

::-moz-selection {
    background: $violet;
    color: $lightBlue;
}

::-webkit-selection {
    background: $violet;
    color: $lightBlue;
}

a {
    text-decoration: underline;
    color: #327D9D;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.readmore {
    display: inline-block;
    padding: 8px 44px 8px 14px;
    color: $white;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    background: $green url(../images/submit-icon-white.png) no-repeat 97% 50%;
    background-size: 19px !important;
    border-radius: 9px;
}

.readmore:hover {
    background-color: $blue;
}

button {
    cursor: pointer;
}

caption,
th,
td {
    vertical-align: top;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 26px;
}

h2,
h3,
h4,
h5,
h6 {
    color: $black;
    font-family: $font-bold;
    padding-bottom: 0;
    padding-bottom: 26px;
    font-size: 29px;
    font-weight: normal;
    line-height: 35px;
    margin-bottom: 15px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 5px;
        width: 244px;
        margin-left: -122px;
    }
}

h2 a,
h3 a {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $blue !important;
    }
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: $font-bold;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: $green;
}

.heading {
    color: $black;
    padding-bottom: 26px;
    font-size: 41px;
    font-weight: normal;
    line-height: 47px;
    margin-bottom: 15px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 5px;
        width: 244px;
        margin-left: -122px;
        background: $blue;
    }
}

img {
    height: auto;
    max-width: 100%;
}

input,
select,
textarea {
    font-size: 13px;
}

input[type="text"],
input[type="tel"],
input[type="phone"],
input[type="email"],
input[type="date"],
select {
    outline: none;
    border: 1px solid $blue;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 35px;
    padding: 4px 10px;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    vertical-align: top;
    font-family: $font-bold;
    color: $black;
}

a {
    text-decoration: none;
}

p {
    margin: 0 0 18px;
}

table {
    border: 0;
    border-spacing: 0;
    empty-cells: show;
}

textarea {
    outline: none;
    height: 71px;
    font-size: 16px;
    resize: none;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 12px 10px;
    font-weight: normal;
    border: 1px solid $blue;
    color: $black;
    margin: 0;
    vertical-align: top;
    font-family: $font-bold;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.wrap {
    border: 0;
    clear: both;
    float: none;
    font-size: 1px;
    height: 0;
    line-height: 1px;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.ban_inn li:last-child a:hover {
    background-color: #E2B72C;
    color: $white;
    border: 1px solid #E2B72C;
}

.ban_inn li:last-child a img {
    display: inline-block;
    vertical-align: middle;
}

.floatFl {
    float: left;
}

.floatRgt {
    float: right;
}

.tall {
    text-align: left;
}

.talr {
    text-align: right;
}

.talc {
    text-align: center;
}

.justify {
    text-align: justify;
}

.m0 {
    margin: 0px 0px 0px 0px;
}

.wid {
    max-width: 940px;
    margin: 0 auto;
}

.wid:after,
li:after,
ul:after,
.social:after,
div:after {
    display: block;
    content: "";
    clear: both;
}

::-webkit-input-placeholder {
    opacity: 1;
    text-transform: uppercase;
    color: $black;
}

:-moz-placeholder {
    opacity: 1;
    text-transform: uppercase;
    color: $black;
}

::-moz-placeholder {
    opacity: 1;
    text-transform: uppercase;
    color: $black;
}

:-ms-input-placeholder {
    opacity: 1;
    text-transform: uppercase;
    color: $black;
}

*,
 :before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hidecal {
    display: none;
}

a.phn {
    font-family: $font-regular !important;
    color: $gblue !important;
    display: inline-block !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

a.phn:hover {
    color: $orange !important;
}

.rcapcha {
    border-radius: 3px;
    height: 75px;
    margin: 0 auto 6px;
    overflow: hidden;
    width: 100%;
}

.listng,
.listing {
    margin-bottom: 30px;
    padding-left: 20px;
    display: inline-block;
    width: 100%;
    li {
        padding: 0 8px 0 45px;
        margin-bottom: 9px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 38px;
            height: 28px;
            background: url(../images/tick-icon.png) no-repeat center center;
            border-radius: 0;
        }
        a {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            font-weight: bold;
            color: $gblue;
            &:hover {
                color: $orange;
            }
        }
    }
}

.listng.twoCol,
.listing.twoCol {
    li {
        width: 50%;
        float: left;
    }
}

.listng.threeCol,
.listing.threeCol {
    li {
        width: 33.33%;
        float: left;
    }
}

.listng.fourCol,
.listing.fourCol {
    li {
        width: 25%;
        float: left;
    }
}

.social {
    margin: 0;
    clear: both;
    display: block;
    padding: 3px 0 3px;
    li {
        margin-right: 12px;
        float: left;
        a {
            width: 40px;
            height: 40px;
            display: block;
            overflow: hidden;
            padding: 0 !important;
            border-radius: 9px;
            background-repeat: no-repeat;
            background-position: center center !important;
            background-color: $orange;
        }
    }
}

.fb {
    background-image: url(../images/facebook-icon.png);
    &:hover {
        background-color: #3a589e;
    }
}

.gplus {
    background-image: url(../images/google-plus-icon.png);
    &:hover {
        background-color: rgb(221, 47, 3);
    }
}

.tw {
    background-image: url(../images/twitter-icon.png);
    &:hover {
        background-color: #3b98d3;
    }
}

.insta {
    background-image: url(../images/instagram-icon.png);
    &:hover {
        background-color: #ec0092;
    }
}

.pint {
    background-image: url(../images/pinterest-icon.png);
    &:hover {
        background-color: #ec1d02;
    }
}

.yt {
    background-image: url(../images/youtube-icon.png);
    &:hover {
        background-color: #ff1f01;
    }
}

.lnk {
    background-image: url(../images/linkedin-icon.png);
    &:hover {
        background-color: #3b98d3;
    }
}

.innerpage h1,
.innerpage h2,
.innerpage h3,
.innerpage h4,
.innerpage h5,
.innerpage h6 {
    position: relative;
    padding-bottom: 8px;
    text-align: center;
    color: #065baa;
    &:before {
        display: none;
    }
}

.headng {
    font-size: 23px;
    color: $blue;
    font-family: $font-bold;
    text-align: center;
}

.smlbtn {
    background: $blue;
    height: 34px;
    padding: 3px 0;
    color: $white;
    width: 100%;
    display: block;
    font-size: 13px;
    font-family: $font-demi;
    &:hover {
        background: $green;
    }
}

.odbttn {
    text-decoration: none !important;
    padding: 9px 49px 7px !important;
    background: $blue !important;
    color: $white !important;
    font-family: $font-demi !important;
    display: inline-block !important;
    font-size: 18px !important;
    &:hover {
        background: $green !important;
    }
}

.vlbttn {
    text-align: center;
}

.white {
    color: $white;
}

@media screen and (max-width: 1230px) {
    .listng.fourCol,
    .listing.fourCol {
        li {
            width: 33.33%;
            float: left;
        }
    }
    .wid {
        max-width: 940px;
        padding: 0 15px;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 34px;
    }
    h2.hdngLft {
        text-align: left;
        &:before {
            margin-left: 0;
            left: 0;
        }
    }
}

@media screen and (max-width: 1184px) {
    .wid {
        max-width: 940px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 1090px) {
    /*.wid {
        max-width: 980px;
    }*/
    .readmore {
        font-size: 20px;
        line-height: 22px;
        background-size: 13px !important;
    }
}

@media screen and (max-width: 1023px) {
    .wid {
        max-width: 930px;
    }
}

@media screen and (max-width: 995px) {
    .wid {
        max-width: 839px;
    }
    .listng.threeCol,
    .listing.threeCol {
        li {
            width: 25%;
            float: left;
        }
    }
    .innerpage h2.hdngLft {
        clear: inherit;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 28px;
        line-height: 38px;
        width: 100%;
    }
}

@media screen and (max-width: 874px) {
    header .wid {
        padding: 0 15px;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 27px;
    }
    .readmore {
        padding: 3px 35px 3px 15px;
        font-size: 19px;
        background-size: 13px !important;
    }
}

@media screen and (max-width: 770px) {
    h2.hdngLft.clearBth {
        clear: both;
        text-align: center;
        &:before {
            margin-left: -55px;
            left: 50%;
        }
    }
}

@media screen and (max-width: 767px) {
    .innerpage h2.hdngLft {
        clear: both;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 23px;
        line-height: 33px;
        width: 100%;
        small {
            font-family: inherit;
            font-size: 15px;
            color: #34a853;
            display: block;
            margin-top: 10px;
        }
    }
    h2.hdngLft {
        text-align: center;
        &:before {
            margin-left: -55px;
            left: 50%;
        }
    }
}

@media screen and (max-width: 479px) {
    .listng.threeCol,
    .listing.threeCol {
        li {
            width: 100%;
            float: left;
        }
    }
    .listng.twoCol,
    .listing.twoCol {
        li {
            width: 100%;
            float: left;
        }
    }
    .listng.fourCol,
    .listing.fourCol {
        li {
            width: 50%;
            float: left;
        }
    }
}

@media screen and (max-width: 359px) {}