@import "reset";
@import "menu";
@import "lightslider";
@import "lightgallery";
// Banner section
.bannersec {
    /* display: inline-block;
    margin-top: 148px;
    width: 100%;
    position: relative;*/
    display: block;
    margin: 0 auto 0;
    width: 100%;
    position: relative;
    max-width: 940px;
    padding-top: 121px;
    .slideCvr {
        padding: 0px;
        width: 66%;
        float: right;
        clear: initial;
        position: relative;
        .bannerimg {
            height: 280px;
            width: 100%;
            background-size: cover !important;
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:before {
                content: "";
                position: absolute;
                background: rgba(30, 69, 159, 0.4);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            .bannertext {
                position: relative;
                h1 {
                    font-size: 38px;
                    text-align: center;
                    color: $white;
                    font-family: $font-bold;
                    margin-bottom: 0px;
                }
            }
        }
        .lSSlideOuter .lSPager.lSpg {
            bottom: 0px;
            text-align: left;
            left: 8px;
            position: absolute;
            left: 80px;
            margin-top: 0 !important;
        }
        .lSSlideOuter .lSPager.lSpg>li.active a {
            background-color: $green;
            border: none;
            width: 12px;
            height: 12px;
        }
        .lSSlideOuter .lSPager.lSpg>li:hover a {
            background-color: $green;
        }
        .lSSlideOuter .lSPager.lSpg>li a {
            border: none;
            background-color: white;
            height: 12px;
            width: 12px;
        }
        .lSSlideOuter .lSPager.lSpg>li {
            padding-right: 5px;
        }
    }
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.calenderBann {
    left: 0;
    top: 50%;
    margin-top: 0;
    padding: 41px 29px;
    color: #1e459f;
    width: 314px;
    border-radius: 0 30px 30px 0;
    small {
        display: none;
    }
}

.downloadCalnder {
    position: absolute;
    right: 19px;
    bottom: 26px;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    padding: 23px 0 0;
    background: #009606 url(../images/download-arrow.png) no-repeat center 90%;
    text-align: center;
    border: 1px #009606 solid;
    &:hover {
        background-color: #1e459f;
        border: 1px #009606 solid;
        ;
    }
}

.bannerform {
    max-width: 1170px;
    width: 100%;
    padding: 22px 0;
    float: left;
    margin: 0 auto;
    background: $white;
    li {
        float: left;
        margin-right: 1.4%;
        input[type="text"],
        input[type="tel"],
        input[type="phone"],
        input[type="email"],
        input[type="date"],
        select {
            height: 41px;
            border: 1px solid #626262;
            font-size: 14px;
            font-family: $font-regular;
            color: #626262;
            &::-webkit-input-placeholder {
                text-transform: capitalize;
                color: #626262;
            }
            &:-moz-placeholder {
                text-transform: capitalize;
                color: #626262;
            }
            &::-moz-placeholder {
                text-transform: capitalize;
                color: #626262;
            }
            &:-ms-input-placeholder {
                opacity: 1;
                text-transform: capitalize;
                color: #626262;
            }
        }
    }
    .type {
        width: 31.2%;
    }
    .selct {
        width: 30.3%;
    }
    .selct2 {
        width: 20.5%;
    }
    .buttn {
        width: 13.6%;
        margin-right: 0;
        input[type="submit"],
        a.button {
            width: 100%;
            height: 42px;
            background: $blue;
            border: none;
            font-size: 18px;
            padding: 0px 15px;
            font-family: $font-demi;
            &:hover {
                background: $green;
            }
        }
    }
}

.innerSerchForm .bannerform {
    position: static;
    padding-top: 0;
    max-width: 100%;
}

// Category section
.categry {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 35px 0 13px;
    ul {
        margin-top: 52px;
        li {
            float: left;
            width: 15.8%;
            margin: 0 0.4% 8px !important;
            &:nth-child(5n) {
                margin-right: 0px;
            }
            .cathead {
                font-size: 11px;
                color: $white;
                padding-top: 13px;
                line-height: 23px;
            }
            a {
                min-height: 158px;
                padding: 14px 18px;
                display: block;
                background: rgba(30, 69, 159, 1);
                background: -moz-linear-gradient(left, rgba(30, 69, 159, 1) 0%, rgba(96, 168, 250, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(30, 69, 159, 1)), color-stop(100%, rgba(96, 168, 250, 1)));
                background: -webkit-linear-gradient(left, rgba(30, 69, 159, 1) 0%, rgba(96, 168, 250, 1) 100%);
                background: -o-linear-gradient(left, rgba(30, 69, 159, 1) 0%, rgba(96, 168, 250, 1) 100%);
                background: -ms-linear-gradient(left, rgba(30, 69, 159, 1) 0%, rgba(96, 168, 250, 1) 100%);
                background: linear-gradient(to right, rgba(30, 69, 159, 1) 0%, rgba(96, 168, 250, 1) 100%);
                &:hover {
                    background: $green;
                }
            }
        }
    }
}

// Upcoming Courses
.courses {
    padding: 20px 0 35px;
    background: #f5f5f5;
    text-align: center;
    ul {
        margin: 24px 0 25px;
        li {
            width: 16%;
            margin-right: 7.5px;
            float: left;
            padding: 11px 12px;
            border: 1px solid #bfbfbf;
            background: $white;
            margin-bottom: 16px;
            &:nth-child(6n) {
                margin-right: 0px;
            }
            .courseimg {
                margin-bottom: 8px;
            }
            .crsbtn {
                text-decoration: none;
                display: inline-block;
                color: $black;
                font-size: 12.4px;
                text-align: left;
                /* font-weight: 600;*/
                margin-bottom: 2px;
                line-height: 19px;
                height: 39px;
                overflow: hidden;
                &:hover {
                    color: $green;
                }
            }
        }
    }
}

// Latest News
.newssec {
    padding: 18px 0 40px;
    ul {
        margin: 35px 0 25px;
        li {
            width: 16%;
            margin-right: 7.5px;
            float: left;
            padding: 11px 12px;
            border: 1px solid #bfbfbf;
            background: $white;
            margin-bottom: 16px;
            &:nth-child(6n) {
                margin-right: 0px;
            }
            a {
                display: block;
                .newdate {
                    width: 100%;
                    text-align: center;
                    background: #1e459f !important;
                }
            }
            &:hover {
                a {
                    p {
                        color: $blue;
                    }
                    .newdate {
                        background: $green;
                    }
                }
            }
            .newsimg {
                margin-bottom: 15px;
            }
            .newdate {
                font-size: 12px;
                color: $white;
                background: $blue;
                display: inline-block;
                padding: 0px 15px;
            }
            p {
                font-size: 11px;
                padding-top: 5px;
                min-height: 76px;
                margin-bottom: 0px;
                line-height: 17px;
            }
        }
    }
}

// Six Sigma Courses
.sixsigma {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 53px 0 72px;
    background: rgba(30, 69, 159, 1);
    background: -moz-linear-gradient(left, rgba(30, 69, 159, 1) 0%, rgba(96, 168, 250, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(30, 69, 159, 1)), color-stop(100%, rgba(96, 168, 250, 1)));
    background: -webkit-linear-gradient(left, rgba(30, 69, 159, 1) 0%, rgba(96, 168, 250, 1) 100%);
    background: -o-linear-gradient(left, rgba(30, 69, 159, 1) 0%, rgba(96, 168, 250, 1) 100%);
    background: -ms-linear-gradient(left, rgba(30, 69, 159, 1) 0%, rgba(96, 168, 250, 1) 100%);
    background: linear-gradient(to right, rgba(30, 69, 159, 1) 0%, rgba(96, 168, 250, 1) 100%);
    ul {
        margin-top: 55px;
        li {
            float: left;
            width: 20%;
            padding: 7px;
            &:hover {
                .sixtext {
                    background: $green;
                }
            }
            &:nth-child(5n) {
                margin-right: 0px;
            }
            .sixtext {
                font-size: 16px;
                color: #fff;
                border: 1px solid white;
                padding: 23px 16px 22px;
                line-height: 23px;
                font-family: $font-medium;
            }
            a {
                display: block;
                .siximg {
                    padding: 37px 15px;
                    background: white;
                }
            }
        }
    }
}

// HRCI Certification
.hrci {
    text-align: center;
    padding: 51px 0 30px;
    ul {
        margin: 35px 0 20px;
        li {
            float: left;
            width: 25%;
            border-right: 1px solid #b2b2b2;
            padding: 0 16px;
            /*&:last-child {
                border: none;
            }*/
            p {
                font-size: 14px;
                line-height: 25px;
                margin-top: 32px;
                height: 75px;
            }
            &:hover {
                p {
                    color: $blue;
                }
            }
        }
    }
}

// Testimonials
.testimonials {
    padding: 30px 0 22px;
    background: url(../images/testimonials.jpg) no-repeat center top;
    .slideCvr {
        padding: 18px 0 0;
        .testSlider {
            padding-bottom: 24px;
        }
        li {
            padding: 58px 34px 42px;
            .testim {
                p {
                    font-size: 14px;
                    line-height: 26px;
                    min-height: 104px;
                    position: relative;
                    z-index: 999;
                    &:after {
                        position: absolute;
                        content: "";
                        width: 110px;
                        height: 88px;
                        background: url(../images/quotes.png) no-repeat;
                        top: 34px;
                        left: 27px;
                        z-index: -1;
                        ;
                        right: 0px;
                        margin: 0 auto;
                    }
                }
                span {
                    margin-top: 15px;
                    display: block;
                    color: $blue;
                    font-size: 13px;
                    margin-left: 10px;
                    font-family: $font-demi;
                }
            }
        }
        .lSSlideOuter .lightSlider>*,
        .lSSlideOuter .lSGallery li {
            background: white;
        }
        .lSSlideOuter .lSPager.lSpg {
            top: 28px;
        }
        .lSSlideOuter .lSPager.lSpg>li:hover a,
        .lSSlideOuter .lSPager.lSpg>li.active a {
            width: 12px;
            height: 12px;
            background-color: #b7db4b;
        }
        .lSSlideOuter .lSPager.lSpg>li a {
            border: none;
            background-color: $blue;
            width: 12px;
            height: 12px;
        }
    }
}

.testimon {
    .abtcnt {
        li {
            margin-bottom: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid $blue;
            .testim {
                p {
                    font-size: 14px;
                    line-height: 30px;
                    &:after {
                        position: absolute;
                        content: "";
                        width: 110px;
                        height: 88px;
                        background: url(../images/quotes.png) no-repeat;
                        top: 0px;
                        left: 27px;
                        z-index: -1;
                        ;
                        right: 0px;
                        margin: 0 auto;
                    }
                }
                span {
                    margin-top: 4px;
                    display: block;
                    color: $blue;
                    font-size: 16px;
                    margin-left: 10px;
                    font-family: $font-demi;
                }
            }
        }
    }
}

// Qualifications
.qualifications {
    padding: 30px 0 15px;
    background: #f5f5f5;
    ul {
        margin-top: 1px;
        /* li {
            float: left;
            width: 20%;
            padding: 32px 3px 32px;
            margin-bottom: 25px;
            text-align: center;
            &:nth-child(4n) {
                margin-right: 0px;
            }
        }*/
    }
    .headng {
        padding-bottom: 10px;
    }
    .lSSlideOuter .lightSlider>*,
    .lSSlideOuter .lSGallery li {
        background: white;
    }
    .lSSlideOuter .lSPager.lSpg {
        top: 0;
    }
    .lSSlideOuter .lSPager.lSpg>li:hover a,
    .lSSlideOuter .lSPager.lSpg>li.active a {
        width: 12px;
        height: 12px;
        background-color: #b7db4b;
    }
    .lSSlideOuter .lSPager.lSpg>li a {
        border: none;
        background-color: $blue;
        width: 12px;
        height: 12px;
    }
}

.lSSlideOuter.brandsSlider .lSSlideWrapper {
    padding-bottom: 20px;
}

.innerpg .abt_menu li a.cat_active:hover {
    border-right: 4px #a5d21e solid;
}

.qualif {
    .qualifications {
        padding: 0px;
        background: #fff;
        border: 1px #f5f5f5 solid;
        ul {
            text-align: center;
            margin-top: 0px;
            padding: 15px;
            li {
                float: none;
                display: inline-block;
                width: 23%;
                padding: 15px 3px 20px;
                margin: 0 0;
                border: 1px solid #ccc;
                margin-top: 10px;
                &:nth-child(4n) {
                    margin-right: 0px;
                }
                &:nth-child(3n) {
                    margin-right: 0px;
                }
            }
        }
    }
}

// Map section
.mapsec {
    padding: 43px 0 53px;
    .map {
        iframe {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
}

// Footer section
footer {
    padding: 18px 0 5px;
    background: $blue;
    .ftrlst {
        float: left;
        .ftrhead {
            font-size: 18px;
            color: $white;
            margin-bottom: 11px;
            font-family: $font-medium;
        }
        li {
            font-size: 14px;
            color: $white;
            line-height: 22px;
            a {
                font-size: 14px;
                display: inline-block;
                line-height: inherit;
                color: #fff;
                vertical-align: top;
                &:hover {
                    color: $green;
                }
            }
        }
        .addrs {
            font-size: 14px;
            color: $white;
            line-height: 21px;
        }
    }
    .ftrabt {
        width: 26%;
        margin-right: 42px;
        p {
            font-size: 14px;
            color: $white;
            margin-top: 34px;
            line-height: 25px;
        }
    }
    .ftrlinks {
        width: 33%;
        margin-right: 30px;
    }
    .ftradrs {
        width: 29%;
        margin-right: 35px;
    }
    .ftrcnt {
        width: 30%;
        .socialmd {
            left: 0;
            top: 50%;
            position: fixed;
            width: 35px;
            margin-top: -70px;
            li {
                float: left;
                margin-right: 7px;
                a {
                    width: 35px;
                    height: 35px;
                    display: inline-block;
                    background-size: 22px !important;
                    border-bottom: 1px #93c302 solid;
                }
                .fbpg {
                    background: $blue url(../images/fb.png) no-repeat center center;
                    &:hover {
                        background-color: #3a5896;
                    }
                }
                .twpg {
                    background: $blue url(../images/twitter.png) no-repeat center center;
                    &:hover {
                        background-color: #1da1f2;
                    }
                }
                .youtb {
                    background: $blue url(../images/ytube.png) no-repeat center center;
                    &:hover {
                        background-color: #ff0000;
                    }
                }
                .instapg {
                    background: $blue url(../images/insta.png) no-repeat center center;
                    &:hover {
                        background-color: #0e76a8;
                    }
                }
                &:last-child {
                    a {
                        border: none;
                    }
                }
            }
        }
    }
    .copryts {
        font-size: 14px;
        text-align: center;
        margin-top: 14px;
        padding-top: 5px;
        color: $white;
        border-top: 1px solid $white;
        font-family: $font-medium;
    }
}

// select box
.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    color: #626262;
    font-size: 14px;
    text-transform: capitalize !important;
    font-family: $font-regular;
    background: $white url(../images/droparrow2.png) no-repeat 95% 50%;
    text-transform: uppercase;
    padding: 5px 16px;
    border: 1px solid #626262;
    cursor: pointer;
    user-select: none;
}

//   Gallery
.gallery {
    ul {
        margin-top: 30px;
        li {
            padding: 15px;
            margin-bottom: 15px;
            text-align: center;
            border: 1px solid $blue;
            width: 31%;
            float: left;
            margin: 1%;
            .galimg {
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                    display: block;
                    -moz-transition: all 0.99s ease;
                    -o-transition: all 0.99s ease;
                    -webkit-transition: all 0.99s ease;
                    transition: all 0.99s ease;
                    filter: none;
                    -webkit-filter: grayscale(0);
                    -webkit-transform: scale(1.01);
                    &:hover {
                        transform: scaleY(1) scaleX(1);
                    }
                }
                &:after {
                    background: #FFF;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    content: '';
                    opacity: 0.7;
                    -webkit-transform: skew(45deg) scaleX(0);
                    -ms-transform: skew(45deg) scaleX(0);
                    transform: skew(45deg) scaleX(0);
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                    &:after {
                        -webkit-transform: skew(45deg) scaleX(1);
                        -ms-transform: skew(45deg) scaleX(1);
                        transform: skew(45deg) scaleX(1);
                        -moz-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        -o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        opacity: 0.1;
                    }
                    img {
                        -moz-transform: scale(1.1, 1.1);
                        -ms-transform: scale(1.1, 1.1);
                        -webkit-transform: scale(1.1, 1.1);
                        transform: scale(1.1, 1.1);
                    }
                }
            }
            .galsec {
                background: $blue;
                padding: 2px 10px;
                color: $white;
                text-transform: uppercase;
                font-size: 13px;
                line-height: 23px;
            }
            a {
                &:hover {
                    .galsec {
                        background: $green;
                    }
                }
            }
        }
    }
}

.crselogo {
    padding: 18px 0 19px;
    text-align: center;
}

.crselogo p {
    font-size: 16px;
    line-height: 27px;
    margin: 15px 0 0;
}

.crsebttn .odbttn {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.crsebttn {
    width: 100%;
}

#lg-counter span {
    color: white;
}

.innerpg .abtcnt strong {
    font-size: 16px;
    font-family: $font-demi;
}

.innerpg .abtcnt h2 {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-family: ITCAvantGardeStd-Bold, sans-serif;
    color: #fff;
    padding: 6px 0 6px 26px;
    margin: 15px 0 20px;
    background: $green;
}

#courseout ul ul li strong {
    margin-top: 0px;
}

.crscntn strong:first-child {
    margin-top: 0px;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/*style the items (options), including the selected item:*/

.select-items div {
    color: $white;
    font-size: 12px;
    line-height: 25px;
    padding: 2px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}


/*style items (options):*/

.select-items {
    position: absolute;
    background-color: $blue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 210px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: $green;
}

//   Inner Pages
.breadcrmb {
    display: inline-block;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 9px 0;
    h2 {
        float: left;
        font-size: 25px;
        color: $black;
        font-family: $font-medium;
        margin-bottom: 0px;
        padding: 0px;
    }
    .brdcrmb {
        float: right;
        font-size: 14px;
        font-family: $font-regular;
        color: #8e8e8e;
        a {
            font-size: 14px;
            font-family: $font-regular;
            color: #8e8e8e;
            &:hover {
                color: $blue;
            }
        }
        span {
            font-size: 14px;
            font-family: $font-regular;
            color: #8e8e8e;
            padding: 0 5px;
        }
        small {
            font-size: 14px;
            font-family: $font-regular;
            color: $black;
        }
    }
}

.innerbanner {
    position: relative;
    height: 300px;
    display: inline-block;
    width: 100%;
    margin-top: 121px;
}

.innerpg {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 55px;
    .abt_menu {
        float: left;
        width: 29%;
        padding: 0px 24px 15px 17px;
        background: #f6f6f6;
        li {
            border-bottom: 1px solid #d4d4d4;
            a {
                font-size: 15px;
                padding: 10px 0 9px 15px;
                display: inline-block;
                color: black;
                width: 100%;
                &:hover {
                    background: $blue;
                    color: $white;
                }
            }
        }
    }
    .abtcnt {
        float: right;
        width: 68.5%;
        h1 {
            font-size: 20px;
            line-height: 30px;
            font-family: $font-bold;
            color: $white;
            padding: 6px 0 6px 26px;
            margin: 0px 0 29px;
            background: $blue;
        }
        p {
            font-size: 14px;
            line-height: 27px;
            a {
                text-decoration: underline;
            }
        }
        a {
            font-size: 14px;
            line-height: 27px;
            color: $blue;
        }
        .courceLoc {
            a {
                font-size: 10px;
                line-height: 23px;
                color: #000;
            }
        }
    }
}

.contactuss {
    margin-top: 43px;
    padding-bottom: 25px;
    p {
        font-size: 14px;
        padding: 0 95px;
        text-align: center;
    }
    .contfomr {
        margin-top: 19px;
        display: inline-block;
        width: 100%;
        h1 {
            font-size: 20px;
            color: $white;
            padding: 8px 2px 11px 26px;
            margin: 0 0 24px;
            background: $blue;
            font-family: $font-bold;
        }
        li {
            float: left;
            width: 49.5%;
            margin-right: 7px;
            margin-bottom: 12px;
            input[type="text"],
            input[type="tel"],
            input[type="phone"],
            input[type="email"],
            input[type="date"],
            select {
                height: 52px;
                border: 1px solid #626262;
                color: #626262;
                padding: 4px 20px;
                text-transform: capitalize;
                font-size: 14px;
                font-family: $font-regular;
                &::-webkit-input-placeholder {
                    text-transform: capitalize;
                    color: #626262;
                }
                &:-moz-placeholder {
                    text-transform: capitalize;
                    color: #626262;
                }
                &::-moz-placeholder {
                    text-transform: capitalize;
                    color: #626262;
                }
                &:-ms-input-placeholder {
                    opacity: 1;
                    text-transform: capitalize;
                    color: #626262;
                }
            }
            input[type="submit"],
            a.button {
                padding: 9px 49px;
                background: $blue;
                color: $white;
                font-family: $font-demi;
                display: inline-block;
                font-size: 18px;
                width: 166px;
                height: 50px;
                border: none;
                &:hover {
                    background: $green;
                }
            }
            textarea {
                height: 115px;
                padding: 4px 20px;
                border: 1px solid #626262;
                color: #626262;
                text-transform: capitalize !important;
                font-size: 14px;
                font-family: $font-regular;
                &::-webkit-input-placeholder {
                    text-transform: capitalize;
                    color: #626262;
                }
                &:-moz-placeholder {
                    text-transform: capitalize;
                    color: #626262;
                }
                &::-moz-placeholder {
                    text-transform: capitalize;
                    color: #626262;
                }
                &:-ms-input-placeholder {
                    opacity: 1;
                    text-transform: capitalize;
                    color: #626262;
                }
            }
            &:nth-child(2n) {
                margin-right: 0px;
            }
        }
        .ttarea {
            width: 100%;
        }
        .frmbtn {
            text-align: center;
            width: 100%;
        }
    }
    .contdtlss {
        margin-top: 22px;
        padding-top: 24px;
        border-top: 1px solid #efefef;
        li {
            float: left;
            width: 31.5%;
            margin-right: 1%;
            font-size: 15px;
            font-family: $font-regular;
            &:hover {
                a {
                    background: $blue;
                    color: $white;
                    span {
                        color: $white;
                    }
                }
            }
            a {
                font-size: 15px;
                font-family: $font-regular;
                color: $black;
                text-align: center;
                padding: 14px 0;
                background: #efefef;
                width: 100%;
                display: inline-block;
            }
            span {
                font-size: 15px;
                font-family: $font-demi;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
        .fax {
            font-size: 15px;
            font-family: $font-regular;
            color: $black;
            text-align: center;
            padding: 14px 0;
            background: #efefef;
            display: inline-block;
            &:hover span {
                color: black;
            }
        }
    }
}

.crsebtns {
    position: absolute;
    bottom: 20px;
    li {
        float: left;
        margin-right: 15px;
        a {
            font-size: 18px;
            color: white;
            background: $blue;
            padding: 8px 17px;
            font-family: $font-demi;
            &:hover {
                background: $green;
            }
        }
    }
    .rgstrbtn {
        a {
            background: $green;
            &:hover {
                background: $blue;
            }
        }
    }
}

.coursedtls {
    h1 {
        margin: 0px 0 17px !important;
    }
    .coursecat {
        float: left;
        width: 29%;
        .secname {
            font-size: 20px;
            font-family: $font-demi;
        }
        .crcat {
            padding: 0px 24px 15px 17px;
            background: #f6f6f6;
            margin-top: 15px;
            li {
                border-bottom: 1px solid #1e459f;
                padding: 8px 0;
                a {
                    font-size: 13px;
                    padding: 4px 0 4px 5px;
                    display: inline-block;
                    color: black;
                    width: 81%;
                    font-family: $font-medium;
                    &:hover {
                        color: $blue;
                    }
                }
                &:last-child {
                    border: none;
                }
            }
        }
    }
}

.coursedtts {
    border-bottom: 1px solid black;
    li {
        float: left;
        a {
            padding: 8px 30px;
            font-family: $font-demi;
            display: inline-block;
            position: relative;
            color: $black !important;
            &:hover {
                color: $blue !important;
            }
            &:after {
                position: absolute;
                content: "";
                width: 1px;
                height: 20px;
                background: $blue;
                top: 10px;
                right: 0px;
            }
        }
    }
}

.crscntn {
    h2 {
        color: $blue;
        font-size: 20px;
        padding: 10px 13px;
        margin: 0;
        background: #e5e5e5;
    }
    strong {
        font-size: 16px;
        margin-top: 23px;
        display: inline-block;
        font-family: $font-demi;
    }
    p {
        font-size: 14px !important;
        line-height: 30px !important;
        margin-bottom: 0px;
    }
    #overview {
        margin-top: 9px;
        margin-bottom: 35px;
    }
    #location {
        margin-bottom: 45px;
    }
    #courseout {
        margin-top: 15px;
    }
}

.crselist {
    li {
        font-size: 14px;
        padding-left: 24px;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            background: $green;
            left: 0px;
            top: 11px;
            border-radius: 50%;
        }
    }
}

.locdate {
    margin-top: 15px;
}

.locdate>li {
    float: left;
    width: 48%;
    border: 1px solid #b9b9b9;
    margin-right: 31px;
}

.locdate>li:nth-child(2) {
    margin-right: 0px;
}

.year {
    width: 100%;
    padding: 12px 11px;
    font-size: 20px;
    color: $white;
    background: $blue;
    font-family: $font-demi;
}

.detlss {
    padding: 17px 11px;
    li {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .regbtn {
        text-align: center;
        margin-top: 20px;
    }
}

.fee li {
    width: 50%;
    margin-bottom: 0px !important;
}

.perpart {
    float: left;
}

.feees {
    float: right;
    text-align: right;
    color: $blue;
    font-size: 20px !important;
    font-family: $font-demi;
}

.condtns {
    font-size: 14px;
    margin-top: 15px;
}

.outlinee>li {
    width: 50%;
    float: left;
}

.halfform>li {
    width: 24.4% !important;
}

.contactuss .halfform li:nth-child(4) {
    margin-right: 0px !important;
}

.contactuss .halfform li:nth-child(2) {
    margin-right: 8px !important;
}

.contfomr span {
    font-size: 16px;
    padding: 16px 0 6px;
    font-family: $font-demi;
    display: inline-block;
}

.halfform>li.rgradio {
    width: 100% !important;
    margin-bottom: 21px !important;
    margin-top: 15px;
    padding: 11px 26px 0;
    background: #efefef;
}

.rgradio li {
    float: left !important;
    width: 17% !important;
    font-size: 16px;
    label {
        font-size: 14px;
    }
}

.regnow {
    input[type="text"],
    input[type="tel"],
    input[type="phone"],
    input[type="email"],
    input[type="date"],
    select {
        height: 48px !important;
    }
}

.regbuttons>div {
    float: right;
    input[type="submit"],
    a.button {
        padding: 0px !important;
        font-size: 16px;
        border: none;
        font-family: $font-demi;
    }
}

.paybtn {
    margin-right: 15px;
    input[type="submit"],
    a.button {
        width: 130px;
        background: $green;
        &:hover {
            background: $blue;
        }
    }
}

.regbtn2 {
    input[type="submit"],
    a.button {
        width: 229px;
        background: $blue;
        &:hover {
            background: $green;
        }
    }
}

.courses.crseinner {
    padding: 22px;
    ul {
        margin: 0px;
        li {
            width: 23.2%;
            margin: 0.5% !important;
            padding: 10px 5px;
            &:nth-child(5n) {
                margin-right: 0px !important;
            }
            &:nth-child(6n) {
                margin-right: 7.5px;
            }
            .crsbtn {
                height: 38px;
                font-size: 10px;
                line-height: 12px;
                overflow: hidden;
                display: block;
                text-transform: uppercase;
            }
            .smlbtn {
                color: $white !important;
                text-decoration: none !important;
                font-size: 10px;
            }
        }
    }
    .pagination li {
        width: auto !important;
        height: auto !important;
        padding: 0 !important;
        margin: 0 !important;
        line-height: 12px;
    }
    .sixtext {
        font-size: 11px;
        line-height: 23px;
    }
}

.courses.crseinner ul.pagination {
    float: right;
    margin-right: 23px;
    margin-top: 13px;
}

.courses.crseinner .pagination li span,
.courses.crseinner .pagination li a {
    padding: 16px 10px !important;
    font-size: 14px;
    height: auto !important;
    line-height: 26px;
}

.fbpg {
    background: $green url(../images/fb.png) no-repeat center center;
    &:hover {
        background-color: #3a5896;
    }
}

.twpg {
    background: $green url(../images/twitter.png) no-repeat center center;
    &:hover {
        background-color: #1da1f2;
    }
}

.instapg {
    background: $green url(../images/insta.png) no-repeat center center;
    &:hover {
        background-color: #dd8e3f;
    }
}

.newws-img {
    float: left;
    width: 24%;
}

.newsindt {
    margin-top: 25px;
    margin-bottom: 35px;
}

.newws.techBlog {
    width: 100%;
}

.blogCntP {
    height: 77px;
}

.newws.techBlog .newssec ul li .newdate {
    font-size: 11px;
    display: block;
    text-align: center;
}

.newws.techBlog .newssec ul {
    margin-top: 0;
}

.newws {
    float: right;
    width: 74%;
}

.newws p {
    font-size: 14px;
}

.socshare {
    li {
        width: inherit;
        margin-right: 0;
        float: left;
        padding: 0 5px;
        border: none;
        background: none;
        margin-bottom: 0px;
        a {
            display: inline-block;
            padding: 20px;
            background-size: 24px;
        }
    }
    h2 {
        font-size: 25px;
        padding-top: 20px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.socshare {
    padding-bottom: 15px;
    border-bottom: 1px solid #cccc;
}

.datte {
    font-size: 14px;
    color: #fff;
    background: $blue;
    display: inline-block;
    padding: 0px 15px;
}

.newssecdet {
    margin-top: 30px;
}

.cat_active {
    background: $green;
    color: white !important;
    border-right: 4px #1e459f solid;
}

.hrci h4 {
    color: #1e459f;
}

.innerpg .hrci {
    padding-top: 5px;
}

.gallery ul li a {
    position: relative;
    display: block;
}

.gallery ul li a .galsec {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.thankyou {
    margin-top: 173px;
    display: inline-block;
    width: 100%;
    text-align: left;
    min-height: 373px;
    padding-top: 30px;
    p {
        text-align: left;
        padding: 0px;
    }
}

.regnow input[type="email"],
.contfomr li input[type="email"] {
    text-transform: lowercase !important;
}

#overview li {
    font-size: 14px;
    padding-left: 24px;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        background: #a5d21e;
        left: 0px;
        top: 11px;
        border-radius: 50%;
    }
}

#courseout>ul>li {
    width: 100%;
    float: left;
}

#courseout ul ul li {
    font-size: 14px;
    padding-left: 24px;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        background: #a5d21e;
        left: 0px;
        top: 11px;
        border-radius: 50%;
    }
}

.sigma_detail>ul li {
    font-size: 14px;
    padding-left: 24px;
    position: relative;
}

.sigma_detail>ol li {
    font-size: 14px;
    padding-left: 3px;
}

.sigma_detail>ul li:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background: #a5d21e;
    left: 0px;
    top: 11px;
    border-radius: 50%;
}

.courseimg a {
    padding: 0px !important;
    min-height: inherit !important;
    display: block;
}

.detlss li:last-child {
    min-height: 60px;
}

.sigma_detail strong {
    display: inline-block;
}

.innerpg .abtcnt ol ul li {
    padding-left: 18px;
    margin-left: 0px;
}

#map {
    display: inline-block;
    width: 100%;
    height: 200px;
}

// Tab section
// .popup {  }
//   .p_content {    box-sizing: border-box;    font-size: 23px;    padding: 17px;    text-align: center;    width: 100%;}
//   .p_content ul {  list-style: outside none none !important;  margin: 0;padding: 0;box-sizing: border-box;  }
//   .p_content ul:after {clear:both;display:block;content:"";}
//   .p_content ul li{  list-style: outside none none !important;  margin: 0 0 10px;padding: 0;float:left;width:100%;box-sizing: border-box;  }
//   .p_content ul li input[type="text"], .p_content ul li input[type="email"], .p_content ul li input[type="phone"], .p_content ul li input[type="tel"]{/*border:1px #ccc solid;height:40px;padding:10px;width:100%;box-sizing: border-box;font-weight: 600;font-size: 17px;*/  }
//   .p_content ul li textarea{/*border:1px #ccc solid;height:150px;padding:10px;width:100%;box-sizing: border-box;font-weight: 600;font-size: 17px; */ }
//   .p_content ul li input[type="submit"], .p_content ul li input[type="button"]{/*border:1px #ccc solid;height:30px;padding:0 10px;color:#fff;background:#ad1d24;box-sizing: border-box;*/}
//   .p_content ul li:nth-child(5) input[type="text"]{/*width:40%;float:right;*/}
//   .p_close {    float: right;
//     width: 20px !important;
//     border-radius: 50%;
//     height: 32px !important;;
//     margin: 4px 10px 8px 0;
// 	background: $green url(../images/popup_close.png) no-repeat 50% 50% !important;
// 	&:hover{
// 		opacity: 0.5;
// 	}
// }
// .p_content {
// 	input[type="submit"], a.button{
// 		padding: 9px 49px 7px !important;
//     background: #1e459f !important;
//     color: #fff !important;
//     font-family: ITCAvantGardeStd-Demi,sans-serif !important;
//     display: inline-block !important;
// 	font-size: 18px !important;
// 	width: 166px;
//     height: 50px;
// 	border: none;
// 	&:hover{
// 		background: #a5d21e !important;
// 	}
// 	}
// }
//   .js__popup {}
//   .js__p_start {}
//   .js__p_close {}
//   .js__p_body {background: rgba(0, 0, 0, 0.5);  bottom: 0;  height: 100%;  left: 0;  position: fixed; z-index: 9;  right: 0;  top: 0;  width: 100%;}
//   .js__slide_top { height:433px; overflow:hidden; top:0; }
//   .js__fadeout { height:0; overflow:hidden; opacity:0; }
//   .p_content ul li{
// 	input[type="text"], input[type="tel"], input[type="phone"], input[type="email"], input[type="date"], select,{
// 	height: 41px;
//     border: 1px solid #626262;
//     font-size: 14px;
//     font-family: ITCAvantGardeStd-Bk,sans-serif;
// 	color: #626262;
// 	&::-webkit-input-placeholder {
// 		text-transform: capitalize;
// 		color: #626262;
// 	}
// 	&:-moz-placeholder {
// 		text-transform: capitalize;
// 		color: #626262;
// 	}
// 	&::-moz-placeholder {
// 		text-transform: capitalize;
// 		color: #626262;
// 	}
// 	&:-ms-input-placeholder {
// 		opacity: 1;
// 		text-transform: capitalize;
// 		color: #626262;
// 	}
// }
// 	textarea{
// 		height: 71px;
// 		border: 1px solid #626262;
// 		font-size: 14px;
// 		font-family: ITCAvantGardeStd-Bk,sans-serif;
// 		color: #626262;
// 		&::-webkit-input-placeholder {
// 			text-transform: capitalize;
// 			color: #626262;
// 		}
// 		&:-moz-placeholder {
// 			text-transform: capitalize;
// 			color: #626262;
// 		}
// 		&::-moz-placeholder {
// 			text-transform: capitalize;
// 			color: #626262;
// 		}
// 		&:-ms-input-placeholder {
// 			opacity: 1;
// 			text-transform: capitalize;
// 			color: #626262;
// 		}
// 	}
//   }
//   .js__slide_top { height:0; overflow:hidden; top:0; }
//   .popup {
//     position: absolute;
//     z-index: 99;
//     top: 50%;
//     left: 50%;
//     margin-left: -230px !important;
//     margin-top: -110px;
//     background: #fff;
//     width: 460px;
//     -moz-transition: top 800ms;
//     -o-transition: top 800ms;
//     -webkit-transition: top 800ms;
//     transition: top 800ms;
// }
.fadeout {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.cancel {
    float: right;
    width: 30px !important;
    border-radius: 50%;
    height: 30px !important;
    margin: 18px 0px 8px 0;
    background: #a5d21e url(../images/popup_close.png) no-repeat 50% 50% !important;
}

.frompop {
    padding: 0 15px;
    position: absolute;
    z-index: 9999999;
    top: 40%;
    left: 50%;
    margin-left: -230px !important;
    margin-top: -110px;
    background: $blue;
    width: 460px;
    -moz-transition: top 800ms;
    -o-transition: top 800ms;
    -webkit-transition: top 800ms;
    transition: top 800ms;
    h2 {
        width: 92%;
        text-align: center;
        float: left;
        margin-bottom: 0px;
        padding-top: 15px;
        color: white;
    }
    li {
        margin-bottom: 10px;
        text-align: center;
        input[type="text"],
        input[type="tel"],
        input[type="phone"],
        input[type="email"],
        input[type="date"],
        select {
            height: 41px;
            border: 1px solid #626262;
            font-size: 14px;
            font-family: ITCAvantGardeStd-Bk, sans-serif;
            color: #626262;
            &::-webkit-input-placeholder {
                text-transform: capitalize;
                color: #626262;
            }
            &:-moz-placeholder {
                text-transform: capitalize;
                color: #626262;
            }
            &::-moz-placeholder {
                text-transform: capitalize;
                color: #626262;
            }
            &:-ms-input-placeholder {
                opacity: 1;
                text-transform: capitalize;
                color: #626262;
            }
        }
        textarea {
            height: 71px;
            border: 1px solid #626262;
            font-size: 14px;
            font-family: ITCAvantGardeStd-Bk, sans-serif;
            color: #626262;
            &::-webkit-input-placeholder {
                text-transform: capitalize;
                color: #626262;
            }
            &:-moz-placeholder {
                text-transform: capitalize;
                color: #626262;
            }
            &::-moz-placeholder {
                text-transform: capitalize;
                color: #626262;
            }
            &:-ms-input-placeholder {
                opacity: 1;
                text-transform: capitalize;
                color: #626262;
            }
        }
        input[type="submit"],
        a.button {
            padding: 9px 49px 7px !important;
            background: $green !important;
            color: $white !important;
            font-family: ITCAvantGardeStd-Demi, sans-serif !important;
            display: inline-block !important;
            font-size: 18px !important;
            width: 166px;
            height: 50px;
            border: none;
            &:hover {
                background: $white !important;
                color: $blue !important;
            }
        }
    }
}

.vatMsg {
    padding: 2px 20px;
    text-align: center;
    background: #f1f1f1;
    font-size: 11px;
    font-weight: 500;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    border-top: 7px #1e459f solid;
    z-index: 9999999999;
    a {
        font-size: 12px;
        line-height: 19px;
        border: 1px solid #1e459f;
        padding: 1px 16px;
        text-align: center;
        cursor: pointer;
        font-weight: 500;
        background: #1e459f;
        color: #fff;
        height: 22px;
        display: inline-block;
        &:hover {
            background: $green;
            border: 1px solid $green;
            color: #fff;
        }
    }
    span {
        border: 1px solid #1e459f;
        padding: 1px 16px;
        text-align: center;
        margin-left: 20px;
        cursor: pointer;
        font-size: 12px;
        line-height: 19px;
        font-weight: 500;
        background: #1e459f;
        color: #fff;
        height: 22px;
        display: inline-block;
        &:hover {
            background: $green;
            border: 1px solid $green;
            color: #fff;
        }
    }
}

.courceLoc {
    text-align: left;
    padding: 0 0 9px;
    a {
        display: block;
        font-size: 10px;
        line-height: 23px;
        padding-left: 22px;
        color: $black;
        background-position: 0 4px;
        background-repeat: no-repeat;
    }
}

.locIcon {
    background-image: url(../images/location-icon.png)
}

.timeIcon {
    background-image: url(../images/date-icon.png)
}

.calenderBanner {
    width: 34%;
    float: left;
    position: relative;
    height: 280px;
    overflow: hidden;
    background: url(../images/training-calender.png) no-repeat center 0;
    background-size: cover !important;
}

.locationss .resp-tab-content {
    padding-top: 0;
    margin-top: 0px;
}

ul.subItem li {
    font-size: 12px;
    line-height: 22px;
    padding: 2px 0 2px 20px !important;
    position: relative;
}

ul.subItem {
    padding: 0 0 0 20px;
}

ul.subItem li:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
    width: 8px;
    height: 8px;
    background: #75b51b;
    border-radius: 50%;
}

ul.subItem li a {
    display: block;
    padding: 0 !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

.coursedtls .coursecat .crcat#month_list li {
    border-color: #ccc;
}

.coursedtls .coursecat .crcat li.act_month a {
    display: block;
    background: #a5d21e;
    width: 100%;
    color: #fff;
    border-right: 4px #1e459f solid;
    padding-left: 18px;
}

.coursedtls .coursecat .crcat li.act_month {
    padding: 0;
}

a.gallery-bubble {
    background: #000 !important;
}

.pressDescription {
    padding: 10px 0 5px;
}

.pressImgVdoScn li {
    width: 33.33%;
    float: left;
    padding: 10px;
}

.cvrBox {
    height: 150px;
    overflow: hidden;
    iframe {
        width: 100%;
        height: 150px;
    }
}

.pressReleaseBox {
    padding: 0 0 20px;
    margin-bottom: 30px;
    border-bottom: 3px #1e459f solid;
    .heading {
        color: #000;
        padding-bottom: 4px;
        font-size: 26px;
        font-weight: normal;
        line-height: 36px;
        margin-bottom: 10px;
        position: relative;
        &:before {
            display: none;
        }
    }
}

.pressReleaseScn div,
.pressReleaseScn p,
.pressReleaseScn span,
.pressReleaseScn small {
    font-size: 14px;
    line-height: 24px;
}

.innerpg .abtcnt p b {
    font-size: inherit;
    line-height: inherit;
}

a.btnDwnld {
    background: url(../images/pdf-icon.png) no-repeat center 40%;
    display: inline-block;
    width: 170px;
    border: 1px #f1f1f1 solid;
    text-align: center;
    padding: 121px 0 0;
}

a.btnDwnld:hover {
    opacity: 0.5;
}

a.btnDwnld span {
    display: block;
    padding: 0 24px 0 28px;
    background: #f1f1f1;
    position: relative;
    height: 25px;
}

a.btnDwnld span:before,
a.btnDwnld span:after {
    content: "";
    position: absolute;
    bottom: 0;
}

a.btnDwnld span:before {
    left: 0;
    background: url(../images/pdf-text.jpg) no-repeat center center;
    width: 25px;
    height: 25px;
}

a.btnDwnld span:after {
    right: -1px;
    bottom: -1px;
    background: url(../images/pdf-page-peel.jpg) no-repeat right bottom;
    width: 41px;
    height: 20px;
}

.innerpg.cockiePage .abtcnt {
    width: 100%;
    h3,
    h2 {
        padding-bottom: 0;
    }
}

.clienteleName li {
    font-size: 15px;
    border-bottom: 1px #ccc solid;
    padding-bottom: 5px;
    margin-bottom: 7px;
}

.vdoLft {
    iframe {
        height: 180px;
    }
}

.newssecdet .newsindt .newws-img img {
    width: 100%;
}

.sixsigma.cipsScn {
    background: #60a8fa;
    background: -moz-linear-gradient(left, #60a8fa 0%, #1e459f 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #60a8fa), color-stop(100%, #1e459f));
    background: -webkit-linear-gradient(left, #60a8fa 0%, #1e459f 100%);
    background: -o-linear-gradient(left, #60a8fa 0%, #1e459f 100%);
    background: -ms-linear-gradient(left, #60a8fa 0%, #1e459f 100%);
    background: linear-gradient(to right, #60a8fa 0%, #1e459f 100%);
}

.sixsigma.cipsScn ul li a .siximg {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 35px 10px 0;
    overflow: hidden;
    margin: 0 auto 19px;
}

.sixsigma.cipsScn ul li a {
    position: relative;
    background: transparent;
    padding: 12px 0;
}

.sixsigma.cipsScn ul li a:hover {
    background: rgba(31, 71, 161, 0.2);
}

.sixsigma.cipsScn ul li:hover .sixtext {
    background: no-repeat;
}

.sixsigma.cipsScn ul li .sixtext {
    border: none;
    padding: 5px 16px 0px;
    height: 179px;
    font-size: 14px;
}

.sixsigma.cipsScn ul li a:before {
    content: "";
    position: absolute;
    right: -7px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(255, 255, 255, 0.3);
}

.sixsigma.cipsScn ul li:last-child a:before {
    background: transparent;
}

.blogRelated .courses.crseinner ul li {
    width: 19%;
}

.gallery ul.pagination {
    margin-bottom: 20px;
}

.gallery ul.pagination li {
    width: auto;
    padding: 0;
    margin: 0 5px;
}

.gallery ul.pagination li a,
.gallery ul.pagination li span {
    padding: 1px 10px;
    display: block;
    font-size: 20px;
}

@media only screen and (max-width:1230px) {
    .contactuss .halfform li:nth-child(2) {
        margin-right: 7px !important;
    }
    .sixsigma {
        padding: 30px 0 38px;
    }
    .sixsigma ul {
        margin-top: 15px;
    }
    .hrci ul li p {
        font-size: 10px;
        line-height: 18px;
    }
    .newssec ul li {
        width: 15.9%;
    }
    .newssec ul li .newdate {
        font-size: 10px;
    }
    .newssec ul li p {
        font-size: 10px;
        padding-top: 5px;
        min-height: 67px;
        margin-bottom: 0px;
        line-height: 18px;
    }
}

@media only screen and (max-width:1200px) {
    .frompop {
        margin-left: -49% !important;
        width: 98%;
    }
    .bannerform .type {
        width: 31.2%;
    }
}

.courses ul li {
    width: 15.9%;
}

ul.resp-tabs-list {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
}

h2.resp-accordion {
    background: $green;
    color: $white;
    font-size: 13px;
    border: 2px solid $white;
    border-top: 0px solid $white;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}


/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
    background: #f6f6f6;
    padding: 0px 24px 15px 17px;
}

.resp-vtabs .resp-tabs-list li {
    background: none;
    color: black;
    font-size: 16px;
    border-bottom: 1px solid #d4d4d4;
    display: block;
    padding: 10px 0 9px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-list li:hover {
    background: $blue;
    color: $white;
}

.resp-vtabs li.resp-tab-active:hover {
    background: $green;
    color: $white;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px 15px;
    background-color: #fff;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border-right: none;
    color: $white;
    background-color: $green;
    position: relative;
    z-index: 1;
    padding: 10px 0 9px 15px !important
}

.resp-arrow {
    width: 22px;
    height: 15px;
    float: right;
    margin-top: 3px;
    background: url(../images/dropdown-icon-white.png) no-repeat center bottom;
}

h2.resp-tab-active span.resp-arrow {
    margin-top: 9px;
    background: url(../images/dropdown-icon-white2.png) no-repeat center bottom;
}

.locationss .resp-vtabs li.resp-tab-active {
    border-right: 4px #1e459f solid;
}


/*-----------Accordion styles-----------*/

h2.resp-tab-active {
    background: $blue !important;
    color: $white
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}


/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/

@media only screen and (max-width: 768px) {
    footer .ftrcnt .socialmd li a {
        border-bottom: 0px #93c302 solid;
        border-right: 1px #93c302 solid;
    }
    ul.resp-tabs-list {
        display: none;
    }
    h2.resp-accordion {
        display: block;
    }
    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display: none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}

.locationss {
    margin: 50px 0;
}

.locationss h3 {
    font-size: 18px;
    padding: 0px;
}

.locationss h2 {
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.locationss p {
    line-height: 27px;
    font-size: 14px;
}

.locdet {
    display: inline-block;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 36%;
    float: left;
}

.locmap {
    width: 64%;
    float: right;
    padding-left: 22px;
    border-left: 1px solid #000;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .aniPos,
    header {
        position: inherit !important;
    }
    .innerbanner {
        margin-top: 0 !important;
    }
    .bannersec {
        margin-top: 0 !important;
    }
}

@media screen and (min-width: 874px) {
    header .wid {
        padding: 0 15px;
    }
    .calenderBann {
        margin-top: 93px;
    }
    .innerpg .abt_menu form {
        display: none;
    }
    .coursecat form {
        display: none;
    }
}

@media screen and (max-width: 1184px) {
    .blogRelated .courses.crseinner ul li {
        width: 17%;
    }
    .bannerform .type,
    .bannerform .selct,
    .bannerform .selct2 {
        margin-right: 1.4%;
    }
    .bannerform .wid {
        padding: 0;
    }
    .bannerform {
        padding: 22px 0;
    }
    .sixsigma ul li {
        float: left;
        width: 19%;
        margin-right: 1%;
        margin-bottom: 7px;
    }
    .sixsigma ul li .sixtext {
        font-size: 10px;
        padding: 10px 14px 18px;
        line-height: 20px;
    }
    .categry ul li {
        width: 18.9%;
    }
    .vatMsg {
        padding: 7px 10px;
        font-size: 12px;
    }
    header .wid {
        padding: 0;
    }
    /*header .tophead .tpcontct {
        width: 42.9%;
    }*/
    header .tophead .tpcenter {
        width: 28%;
    }
    header .tophead .logo {
        width: 20.1%;
    }
    .courses ul li {
        margin: 0 0 8px;
        display: inline-block;
        float: none;
        width: 16%;
    }
}

@media screen and (max-width: 1090px) {
    .sixsigma.cipsScn ul li .sixtext {
        height: 60px;
    }
    .newssec {
        padding: 25px 0 50px;
    }
    .categry {
        padding: 43px 0 35px;
    }
    header .tophead .tpcenter a {
        padding: 15px 26px;
    }
    .frompop {
        margin-left: -37% !important;
        width: 74%;
    }
    .frompop h2 {
        padding-top: 24px;
    }
    .locdate>li {
        margin-right: 22px;
    }
    .crsebttn .odbttn {
        width: 186px;
        padding: 9px 20px 7px !important;
    }
    .innerpg .abtcnt h1 {
        font-size: 18px;
        line-height: 32px;
        padding: 12px;
    }
    .innerpg .abtcnt h2 {
        padding: 6px;
    }
    .crsebttn {
        text-align: center;
    }
    .gallery ul li {
        width: 48%;
    }
    .gallery ul li:nth-child(3n) {
        margin-right: 15px;
    }
    .gallery ul li:nth-child(2n) {
        margin-right: 0px;
    }
    .coursedtls .coursecat {
        width: 36%;
        margin-right: 15px;
    }
    .coursedtls.innerpg .abtcnt {
        width: 62%;
    }
    .courses.crseinner ul li .crsbtn {
        min-height: 76px;
    }
    .courses.crseinner ul li {
        width: 45%;
    }
    .courses.crseinner ul li:nth-child(5n) {
        margin-right: 7.5px;
    }
    .courses.crseinner ul li:nth-child(2n) {
        margin-right: 0px !important;
    }
    .coursedtls .coursecat .crcat li a {
        font-size: 14px;
    }
    .halfform>li {
        width: 24.3% !important;
    }
    .contactuss .contdtlss li {
        margin-right: 25px;
    }
    .innerpg .abt_menu {
        margin-right: 23px;
    }
    .qualifications ul li:last-child {
        margin-right: 0px;
    }
    .bannerform {
        max-width: 100%;
    }
    /*.bannerform .type {
        width: 32%;
    }
    .bannerform .selct {
        width: 30.5%;
    }
    .bannerform .buttn {
        width: 14.6%;
        margin-right: 0px;
    }*/
    .bannersec .slideCvr .lSSlideOuter .lSPager.lSpg {
        left: 38px;
    }
    .categry ul {
        text-align: center;
    }
    .categry ul li {
        width: 23%;
        margin-bottom: 13px;
        float: inherit;
        display: inline-block;
    }
    .categry ul li:nth-child(5n) {
        margin-right: 13px;
    }
    .categry ul li:nth-child(4n) {
        margin-right: 0px;
    }
    .courses ul {
        text-align: center;
    }
    .courses ul li {
        width: 16%;
        float: inherit;
        display: inline-block;
    }
    .courses ul li:nth-child(6n) {
        margin-right: 7.5px;
    }
    .courses ul li:nth-child(5n) {
        margin-right: 0px;
    }
    /* .courceLoc a {
        font-size: 11px;
    }*/
    .newssec ul li {
        width: 18.7%;
        float: inherit;
        display: inline-block;
    }
    .newssec ul li:nth-child(6n) {
        margin-right: 7.5px;
    }
    .newssec ul li:nth-child(5n) {
        margin-right: 7.5px;
    }
    .newssec ul li p {
        min-height: 75px;
        padding-top: 12px;
    }
    .newssec ul {
        text-align: center;
    }
    sixsigma ul {
        text-align: center;
    }
    .sixsigma ul li {
        float: inherit;
        display: inline-block;
        width: 31.5%;
        margin-bottom: 13px;
    }
    .sixsigma ul li:nth-child(3) {
        margin-right: 0px;
    }
    .sixsigma ul li:nth-child(5n) {
        margin-right: 13px;
    }
    /* .testimonials .slideCvr li .testim p {
        min-height: 250px;
    }*/
    .testimonials {
        background-size: cover;
    }
    .testimonials .slideCvr .lSSlideOuter .lSPager.lSpg {
        top: 36px;
    }
    .courses {
        padding: 30px 0 24px;
    }
    .qualifications ul {
        text-align: center;
    }
    .qualifications ul li:nth-child(4n) {
        margin-right: 0;
    }
    .qualifications ul li:nth-child(3n) {
        margin-right: 0px;
    }
    footer .ftrabt {
        width: 40%;
        margin-right: 35px;
    }
    footer .ftrlst {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .courses ul li {
        width: 23%;
        float: inherit;
        display: inline-block;
    }
    header .tophead .tpcontct .cntdtls li a {
        font-size: 13px;
    }
    header .tophead .tpcenter {
        width: 28% !important;
    }
    .aniPos .tophead .tpcontct {
        width: 43%;
    }
    .aniPos .tophead .tpcontct .cntdtls {
        margin-top: 0;
    }
    .vatMsg span {
        padding: 3px 15px;
        vertical-align: middle;
    }
}

@media screen and (max-width: 995px) {
    .testimonials .slideCvr li .testim span {
        font-size: 11px;
    }
    .testimonials .slideCvr li .testim p {
        min-height: 120px;
    }
    .bannersec .slideCvr .bannerimg .bannertext h1 {
        font-size: 32px;
    }
    header .tophead .tpcenter {
        width: 31% !important;
    }
    header .tophead .tpcontct .cntdtls {
        width: 62%;
        float: left;
        text-align: right;
        padding-right: 0;
    }
    header .tophead .tpcontct {
        width: 47.9%;
    }
}

@media screen and (max-width: 874px) {
    .innerSerchForm .bannerform ul {
        padding-top: 15px;
    }
    .sixsigma.cipsScn ul li .sixtext {
        height: 76px;
        min-height: 76px;
    }
    footer .ftrlinks {
        width: 27%;
        margin-right: 30px;
    }
    .cvrBox {
        height: 188px;
        overflow: hidden;
    }
    .cvrBox iframe {
        height: 188px;
    }
    .pressImgVdoScn li {
        width: 50%;
    }
    header .wid {
        padding: 0 15px;
    }
    .calenderBanner {
        height: 296px;
    }
    .bannersec {
        padding-top: 111px;
    }
    header .tophead .tpcontct {
        padding-right: 46px;
        width: 58%;
        border: none;
    }
    .vatMsg {
        border: 1px #ff9b00 solid;
    }
    .frompop h2 {
        padding-top: 15px;
    }
    .detlss li:last-child {
        min-height: inherit;
    }
    .locdet {
        width: 100%;
    }
    .locmap {
        width: 100%;
        float: left;
        padding-top: 10px;
        padding-left: 0;
        border-top: 1px solid #000;
        border-left: none;
    }
    .thankyou {
        margin-top: 147px;
        padding: 23px 0 32px;
        background: whitesmoke;
    }
    .locationss h2 {
        padding: 16px;
    }
    .innerpg .abt_menu {
        padding: 15px 24px 15px 17px;
    }
    .coursedtls h2 {
        margin-bottom: 0px !important;
    }
    .outlinee>li {
        width: 100%;
    }
    .newws-img {
        width: 100%;
    }
    .newws {
        margin-top: 25px;
        width: 100%;
    }
    .coursedtls .coursecat {
        width: 100%;
    }
    .coursedtls.innerpg .abtcnt {
        width: 100%;
    }
    .courses.crseinner {
        padding: 22px 0;
    }
    .coursecat form {
        display: block;
    }
    .coursedtls .coursecat .secname {
        padding: 6px 18px;
        font-size: 16px;
        background: url(../images/down-arrow-black.png) no-repeat 96% 50%;
        border: 1px #ccc solid;
        margin-top: 13px;
    }
    /* .crcat {
        display: none;
    }
    .coursecat .secname {
        display: none;
    }*/
    .innerpg .abt_menu>ul {
        display: none;
    }
    .innerpg .abt_menu form {
        display: block;
    }
    .halfform>li {
        width: 48.9% !important;
        &:nth-child(2n) {
            margin-right: 0px;
        }
    }
    .rgradio li {
        width: 26% !important;
    }
    .contactuss p {
        padding: 0 0px;
    }
    .contactuss .contfomr li {
        width: 100%;
    }
    .contactuss .contdtlss li {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .innerpg .abt_menu li {
        float: left;
        width: 48%;
        margin: 0 6px;
    }
    .innerpg .abt_menu {
        width: 100%;
    }
    .menu li a {
        color: #ffffff !important;
    }
    .breadcrmb {
        background: #f6f6f6;
    }
    .innerpg .abtcnt {
        width: 100%;
        margin-top: 25px;
    }
    .innerbanner {
        background-size: cover !important;
        background-position: center 55px !important;
        height: 263px;
        margin-top: 148px;
    }
    .breadcrmb h2 {
        font-size: 18px;
        line-height: 25px;
        color: $blue;
        text-align: center;
    }
    .breadcrmb .brdcrmb {
        padding-top: 2px;
        display: inline-block;
        width: 100%;
        float: inherit;
        text-align: center;
    }
    .bannersec .slideCvr .bannerimg {
        height: 296px;
        background-size: cover !important;
    }
    .bannerform {
        position: inherit;
        display: inline-block;
        width: 100%;
        max-width: inherit;
        background: $blue;
    }
    /*.bannersec .slideCvr .bannerimg .bannertext {
        padding-top: 83px;
        text-align: center;
    }*/
    .bannerform .type {
        width: 50%;
    }
    .bannerform .selct {
        width: 48%;
        margin-right: 0px;
    }
    .bannersec .slideCvr .lSSlideOuter .lSPager.lSpg {
        bottom: 0;
        text-align: center;
        left: 0px;
    }
    .bannerform li {
        margin-bottom: 15px;
    }
    .bannerform .selct2 {
        width: 50%;
    }
    .bannerform .buttn {
        width: 48%;
        margin-right: 0px;
    }
    .bannerform .buttn input[type="submit"],
    .bannerform .buttn a.button {
        background: $green;
        border: 1px solid $green;
        &:hover {
            background: $blue;
            border: 1px solid $white;
        }
    }
    .categry {
        padding: 32px 0 50px;
    }
    .courses ul li {
        width: 23%;
    }
    .courses ul li:nth-child(4n) {
        margin-right: 0px !important;
    }
    .courses ul li:nth-child(5n) {
        margin-right: 7.5px;
    }
    .newssec ul li {
        width: 23%;
    }
    .newssec ul li:nth-child(4n) {
        margin-right: 0px !important;
    }
    .newssec ul li:nth-child(5n) {
        margin-right: 7.5px;
    }
    .newssec {
        padding: 50px 0 79px;
    }
    .sixsigma ul li .sixtext {
        min-height: 129px;
    }
    .hrci ul li {
        width: 50%;
        margin-bottom: 27px;
    }
    .hrci ul li:nth-child(2) {
        border: none;
    }
    .hrci ul {
        margin: 75px 0 50px;
    }
    .bannerform {
        padding: 22px 12px 4px;
    }
    .testimonials .slideCvr li .testim p {
        min-height: inherit;
    }
    .testimonials {
        background-position: center center;
    }
}

@media screen and (max-width: 767px) {
    .bannersec .slideCvr .bannerimg:before,
    .bannersec .slideCvr .bannerimg:after {
        width: 100%;
        height: 100%;
    }
    body {
        overflow-x: hidden !important;
    }
    header .tophead .logo a {
        display: inline-block;
    }
    .blogRelated .courses.crseinner ul li .crsbtn {
        min-height: 40px;
    }
    .blogRelated .courses.crseinner ul li {
        width: 46%;
    }
    .sixsigma.cipsScn ul li:nth-child(2) a:before,
    .sixsigma.cipsScn ul li:nth-child(4) a:before {
        background: transparent;
    }
    .gallery ul li {
        width: 48%;
        margin: 10px 1% !important;
    }
    footer .ftrabt,
    footer .ftrlinks,
    footer .ftradrs,
    footer .ftrcnt {
        width: 100%;
        margin: 0 0 10px;
        text-align: center;
    }
    .pressReleaseBox .heading {
        color: #000;
        padding-bottom: 0;
        font-size: 21px;
        font-weight: normal;
        line-height: 30px;
        margin-bottom: 0;
        position: relative;
    }
    .pressImgVdoScn li {
        width: 100%;
    }
    .cvrBox,
    .cvrBox iframe {
        height: auto;
        overflow: hidden;
    }
    .crsebtns li a {
        font-size: 13px;
        padding: 8px 17px;
    }
    .vatMsg span {
        margin: 0 auto;
        width: 90px;
        vertical-align: top;
    }
    .vatMsg {
        line-height: 17px;
    }
    .vatMsg a,
    .vatMsg span {
        margin-top: 8px;
    }
    footer .ftrcnt .socialmd {
        width: 142px;
        margin-left: -71px;
        left: 50%;
        bottom: 0;
        top: inherit;
        border: 1px #fff solid;
    }
    footer .ftrcnt .socialmd li {
        float: left !important;
        margin: 0 !important;
    }
    footer .copryts {
        margin-bottom: 40px;
    }
    .bannersec .slideCvr .bannerimg {
        height: 220px;
    }
    .bannersec .slideCvr {
        width: 100%;
        float: left;
        overflow: hidden !important;
        display: none !important;
    }
    .bannersec .slideCvr .lSSlideOuter .lSPager.lSpg,
    .lSAction {
        display: none !important;
    }
    .calenderBann small {
        display: inline-block;
        color: $white;
        font-size: 17px;
    }
    .bannersec {
        padding-top: 0;
    }
    .calenderBanner {
        width: 100%;
        height: auto;
        padding: 7px 0;
        background: #1e459f;
        border-bottom: 1px #325ab5 solid;
    }
    .header.medium .headingReview {
        font-size: 1.6em;
        line-height: 1.4;
        height: 100px;
    }
    .bannersec .slideCvr .lSSlideOuter .lSPager.lSpg {
        bottom: 139px;
    }
    .bannersec .slideCvr .bannerimg .bannertext h1 {
        font-size: 25px;
        text-align: center;
    }
    /*.bannersec .slideCvr .bannerimg .bannertext {
        padding-top: 36px;
        text-align: center;
    }*/
    .downloadCalnder {
        bottom: -4px;
        right: -13px;
        height: 63px;
        width: 63px;
        padding-top: 17px;
        font-size: 10px;
        line-height: 12px;
    }
    .calenderBann {
        position: relative;
        padding: 13px 41px 13px 13px;
        margin: 0 auto;
        width: 230px;
    }
    .bannerform {
        position: static;
        margin: 0 0 0;
    }
    header .tophead .tpcontct .cntdtls li {
        width: 100%;
        text-align: left;
    }
    header .tophead .tpcontct .cntdtls {
        text-align: left;
        margin: 0px;
    }
    header .tophead .tpcontct {
        width: 100%;
        padding: 0;
    }
    .courses ul li .crsbtn {
        width: 100%;
    }
    section.innerbanner small {
        font-size: 14px;
        line-height: 25px;
    }
    .qualif .qualifications ul li {
        width: 48%;
        margin-right: 0px;
    }
    /* .qualif .qualifications ul li:nth-child(3n) {
        margin-right: 11px;
    }
    .qualif .qualifications ul li:nth-child(2n) {
        margin-right: 0px !important;
    }*/
    .halfform>li {
        width: 100% !important;
    }
    .innerpg .abt_menu {
        width: 100%;
    }
    .innerpg .abt_menu li {
        float: left;
        width: 46%;
        margin-right: 15px;
    }
    .innerpg .abtcnt {
        width: 100%;
    }
    header .tophead .tpcenter {
        margin-top: 7px;
    }
    .bannerform .type {
        width: 47%;
    }
    .bannerform .selct2 {
        width: 47%;
    }
    .categry {
        padding: 32px 0 50px;
    }
    .categry ul li {
        width: 45%;
        margin: 0 0 7px !important;
    }
    .categry ul li:nth-child(4n) {
        margin-right: 13px;
    }
    .categry ul li:nth-child(3n) {
        margin-right: 0px;
    }
    .courses ul li {
        padding: 11px 7px;
    }
    .sixsigma ul li {
        width: 47%;
        margin-bottom: 21px;
    }
    .sixsigma ul li:nth-child(3) {
        margin-right: 13px;
    }
    .sixsigma ul li:nth-child(2n) {
        margin-right: 0px;
    }
    .sixsigma ul li:last-child {
        margin-right: 0px;
    }
    /*.qualifications ul li {
        margin: 0 0 6px !important;
        padding: 6px 0;
        display: inline-block;
        float: none;
    }
    .qualifications ul li:nth-child(2n) {
        margin-right: 0px !important;
    }
    .qualifications ul li:nth-child(3n) {
        margin-right: 15px;
    }
    .qualifications {
        padding: 75px 0 36px;
    }*/
    footer .ftrlinks {
        min-height: 224px;
    }
    .newssec ul li .newsimg a,
    .hrci ul li a {
        display: block;
    }
    footer .ftrlst li a {
        line-height: 27px;
    }
    .smlbtn {
        height: 41px;
        padding: 6px 0;
    }
    .newssec ul li a .newdate {
        height: 41px;
        padding: 6px;
        font-size: 13px;
    }
    /*.bannersec{display: none !important;}
    .bannersec .slideCvr{display: none;}*/
}

@media screen and (max-width: 640px) {
    .newssec ul li p {
        min-height: 129px;
    }
    .courses ul li {
        width: 48%;
    }
    .courses ul li:nth-child(2n) {
        margin-right: 0px !important;
    }
    .courses ul li {
        padding: 11px 9px;
    }
    .courseimg img {
        width: 100%;
    }
    .newssec ul li {
        width: 48%;
    }
    .newssec ul li:nth-child(2n) {
        margin-right: 0px !important;
    }
    .newssec ul li {
        padding: 11px 9px;
    }
    .newsimg img {
        width: 100%;
    }
    .newssec ul li p {
        min-height: 75px;
    }
}

@media screen and (max-width: 568px) {
    .locdate>li {
        margin-right: 21px;
    }
    .coursedtts li a {
        padding: 8px 15px;
    }
    .innerpg {
        margin-top: 10px;
    }
    header .tophead .logo {
        width: 18%;
    }
    header .tophead .tpcenter {
        width: 44%;
    }
    header .tophead .tpcontct .cntdtls {
        width: 68%;
    }
    header .tophead .tpcontct .offrs {
        width: 31%;
    }
    footer .ftrabt {
        width: 100%;
        text-align: center;
        margin-right: 0px;
    }
    footer .ftrlinks {
        width: 100%;
        text-align: center;
        margin-right: 0px;
        min-height: inherit;
    }
    footer .ftradrs {
        width: 100%;
        text-align: center;
    }
    footer .ftrcnt {
        width: 100%;
        text-align: center;
    }
    footer .ftrcnt .socialmd li {
        float: inherit;
        display: inline-block;
    }
    footer .ftrcnt .socialmd li:last-child {
        margin-right: 0px;
    }
    footer .ftrcnt .socialmd ul {
        text-align: center;
    }
    footer .ftrlst {
        margin-bottom: 0;
    }
    .ftrlst.ftradrs,
    .ftrlst.ftrlinks,
    footer .ftrlst {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 479px) {
    .blogRelated .courses.crseinner ul li .crsbtn {
        min-height: 57px;
        margin-bottom: 6px;
    }
    .sixsigma.cipsScn ul li .sixtext {
        height: auto;
        min-height: 36px;
    }
    .hrci ul li p {
        height: auto;
    }
    .sixsigma.cipsScn ul li a:before {
        top: inherit;
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, 0.3) !important;
    }
    .sixsigma.cipsScn ul li:last-child a:before {
        background: rgba(255, 255, 255, 0) !important;
    }
    header .tophead .tpcontct .cntdtls li a,
    header .tophead .tpcontct .cntdtls li {
        font-size: 11px;
        line-height: 21px;
    }
    .categry ul {
        margin-top: 16px;
    }
    .frompop h2 {
        width: inherit;
        text-align: left;
        font-size: 20px;
    }
    .thankyou {
        margin-top: 193px;
    }
    .testimon .abtcnt li .testim p:after {
        top: 50px;
        left: 0;
        right: 0px;
    }
    .crsebtns {
        bottom: -146px;
        width: 100%;
        left: 0px;
    }
    .locdate>li {
        width: 100%;
        margin-bottom: 15px;
    }
    .crsebtns ul {
        text-align: center;
        width: 100%;
    }
    .courseinn {
        margin-top: 160px;
    }
    .crsebtns li a {
        width: 250px;
        display: inline-block;
        font-size: 14px;
        padding: 4px 17px;
    }
    .crsebtns li {
        float: inherit;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 7px;
    }
    .gallery ul li {
        width: 100%;
        padding: 10px;
    }
    .socshare h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .courses.crseinner ul li {
        width: 100%;
    }
    .courses.crseinner ul li .crsbtn {
        min-height: 0;
    }
    .headng {
        font-size: 25px;
    }
    header .tophead .tpcontct {
        margin-top: 7px;
    }
    header .tophead .logo img {
        width: 100px;
    }
    .innerbanner {
        margin-top: 140px;
    }
    .rgradio li {
        width: 100% !important;
    }
    .regbuttons>div {
        width: 100%;
        margin-bottom: 10px;
        float: inherit;
    }
    .regbtn2 input[type="submit"],
    .regbtn2 a.button {
        width: 100%;
    }
    .paybtn input[type="submit"],
    .paybtn a.button {
        width: 100%;
    }
    .innerpg .abt_menu li {
        width: 100%;
        margin-right: 0;
    }
    footer {
        padding: 6px 0 21px;
    }
    footer .copryts {
        margin-top: 0;
    }
    /*.qualifications ul li {
        margin-right: 0px !important;
    }*/
    .hrci ul li {
        width: 100%;
        border: none;
    }
    /*.testimonials {
        height: 788px;
    }*/
    .testimonials .slideCvr li .testim p {
        min-height: 151px;
    }
    .testimonials .slideCvr li {
        padding: 58px 20px 42px;
    }
    .sixsigma ul li .sixtext {
        min-height: inherit;
    }
    .sixsigma {
        padding: 53px 0 35px;
    }
    .sixsigma ul li {
        width: 100%;
        margin-right: 0px !important;
    }
    .newssec {
        padding: 50px 0 30px;
    }
    .courses ul li .crsbtn {
        min-height: inherit;
        padding: 18px 0;
    }
    .courses ul li .courseimg {
        margin-bottom: 0;
    }
    .courses ul li {
        width: 100%;
        margin-right: 0px !important;
    }
    .newssec ul li p {
        min-height: inherit;
        padding: 18px 0;
    }
    .newssec ul li {
        width: 100%;
        margin-right: 0px !important;
    }
    .categry {
        padding: 20px 0 30px;
    }
    .categry ul li {
        width: 100%;
        margin-right: 0px !important;
        margin-bottom: 18px;
    }
    .aniPos .logo img {
        width: 24%;
    }
    .aniPos .tophead .tpcenter a {
        padding: 7px 21px;
    }
    .bannerform li {
        width: 100% !important;
    }
    .bannerform {
        padding: 22px 15px 4px;
    }
    .bannersec .slideCvr .bannerimg .bannertext h1 {
        font-size: 20px;
        line-height: 25px;
    }
    .calenderBanner {
        padding: 13px 0 17px;
    }
    .calenderBann {
        position: relative;
        padding: 3px 41px 3px 7px;
        margin: 0 auto;
        width: 224px;
    }
    .downloadCalnder {
        font-size: 10px;
        line-height: 12px;
        width: 60px;
        height: 60px;
        padding: 17px 0 0;
        /*margin-bottom: -30px;*/
        bottom: -15px;
    }
    .bannersec .slideCvr .lSSlideOuter .lSPager.lSpg {
        bottom: 249px;
        display: none;
    }
    .calenderBann small {
        display: block;
        font-size: 14px;
    }
    .menu {
        top: 140px;
    }
    .aniPos .menu {
        top: 82px;
    }
    .bannersec {
        padding-top: 145px;
    }
    .bannersec .slideCvr .bannerimg {
        height: 200px;
        width: 100%;
        overflow: hidden;
        float: left;
    }
    header .tophead .tpcenter {
        width: 100%;
        margin-left: 0px;
        margin-top: 15px;
        text-align: center;
    }
    header .tophead .tpcenter a {
        padding: 6px 21px;
        font-size: 12px;
    }
    header .tophead .tpcenter {
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }
    header .tophead .logo {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 431px) {
    header .tophead .tpcontct .offrs a {
        padding: 6px 26px;
    }
    header .tophead .tpcontct .offrs {
        width: 37%;
    }
    header .tophead .tpcontct .cntdtls {
        width: 62%;
    }
    .sixsigma.cipsScn ul li .sixtext {
        height: auto;
        min-height: 10px;
    }
    .calenderBanner {
        background-position: 0 0;
        background-size: 800px !important;
    }
}

@media screen and (max-width: 359px) {
    header .tophead .tpcontct .cntdtls li,
    header .tophead .tpcontct .cntdtls li a {
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    .testimonials .slideCvr {
        padding: 36px 0 0;
    }
    .testimonials .slideCvr li {
        padding: 28px 20px 20px;
    }
    header .tophead .tpcontct .cntdtls {
        width: 66%;
        padding-right: 0;
    }
    header .tophead .tpcontct .offrs a {
        padding: 6px 27px;
    }
    header .tophead .tpcontct .cntdtls li {
        padding-right: 0px;
    }
    header .tophead .tpcontct .offrs {
        width: 34%;
    }
    .testimonials .slideCvr li .testim p {
        min-height: 200px;
    }
    .testimonials .slideCvr li .testim span {
        min-height: 87px;
    }
}